include ../../uikit/tile/tile-product
include ../../uikit/tile/tile-news
include ../../uikit/tile/tile-social
include ../../uikit/tile/tile-gallery
include ../../uikit/tile/tile-video
include ../../uikit/tile/tile-blog
main.page__productList
    .header-page__wrap
        ol.breadcrumb
            li
                a(href="#!") Каталог
            li
                a(href="#!") Воблеры
            li.active
                a(href="#!") Challenger X
        .header-page__container.productList__titleBlock
            h1.title__lg Challenger X
            .js-readmore.readmore.readmore_close
                .tile__text
                    | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem gravida bibendum enim porta urna vivamus tempus sapien eget fusce vitae sodales lectus molestie elementum pellentesque auctor quisque molestie cursus enim fusce sit elementum rutrum pharetra eu mauris justo orci et nam sapien eget orci non nulla pellentesque sagittis ipsum pharetra leo in molestie congue leo porta nam curabitur at commodo odio congue sapien justo orci leo lectus rutrum quisque non fusce mattis adipiscing vitae quam quisque non vulputate elementum curabitur diam vitae diam tempus commodo duis donec sagittis duis odio donec mauris non justo integer rutrum diam curabitur eget leo ultricies porta nibh quisque urna magna pellentesque bibendum vitae quisque quam magna orci enim tellus ut porttitor mauris maecenas vitae sit malesuada ipsum tellus duis ut non vivamus bibendum eu commodo proin enim leo rutrum cursus auctor ultricies nibh proin auctor proin cursus porttitor malesuada in ornare lectus elementum mauris at lectus magna eros leo tempus bibendum molestie pellentesque vitae proin diam orci nec enim integer quisque sodales massa sagittis nam orci enim tellus malesuada in at sapien lectus ultricies molestie pellentesque ultricies risus nec quam bibendum curabitur integer sed pellentesque lectus eros sagittis ornare ultricies donec mattis enim sodales duis ligula commodo proin congue ipsum nibh sodales sapien risus ut nibh maecenas fusce nulla magna metus nec elementum magna sodales magna ipsum congue diam lorem integer congue fusce sed malesuada a orci eros nibh congue a lectus morbi integer curabitur risus morbi nibh urna risus nibh et quisque leo lectus diam at mattis lorem sodales porttitor leo congue eget diam in risus orci molestie in non tempus magna sit lectus in congue sagittis adipiscing vulputate et duis pharetra malesuada mattis nulla bibendum ipsum at porttitor non porta arcu cursus maecenas mattis fusce quam congue ornare auctor amet diam porta mauris ultricies quisque massa mauris ut mattis lorem morbi donec adipiscing risus orci at congue duis ornare urna nulla porttitor duis eget quisque nam risus nec at sem ipsum massa molestie orci diam arcu duis ut tellus metus curabitur eu sem quisque amet tellus nec gravida eros amet tempus nam sagittis sapien adipiscing ipsum vitae ligula odio sit arcu quam diam quisque bibendum quisque sapien pharetra nam ultricies odio lorem duis enim commodo eu quam nam fusce eros porttitor maecenas quam bibendum risus ipsum rutrum commodo tempus adipiscing nec a ligula quisque risus sagittis a tellus lorem auctor pharetra commodo massa elementum lectus nulla gravida porttitor mattis in metus at nibh porttitor lorem in risus morbi nec leo ultricies pellentesque vitae adipiscing mauris nam nibh morbi gravida curabitur orci proin nulla gravida in quisque nibh metus morbi proin ut tellus sem adipiscing ut congue molestie leo malesuada metus lectus non pharetra ut urna massa duis pellentesque auctor pharetra congue pharetra donec lorem morbi molestie tellus integer maecenas sodales sed lectus curabitur sit justo integer nibh fusce urna nam congue sapien vitae ultricies lorem proin porta ultricies sagittis rutrum non donec ornare vitae cursus leo justo malesuada maecenas eu congue sagittis mauris quam sed mauris nulla arcu commodo ut risus sodales lorem mauris metus at pharetra nulla integer porta vitae auctor leo urna auctor sagittis porta congue nec arcu ligula integer a diam elementum sodales quisque eros diam lorem eget massa in ornare in odio ipsum rutrum vitae pharetra risus morbi sagittis elementum eros pellentesque morbi eget sed pharetra lectus magna porta malesuada donec nibh malesuada lectus nulla molestie maecenas ornare tellus pellentesque duis porta nibh curabitur eros eget orci ligula ultricies donec metus risus eu nec sem bibendum justo sed eu risus justo rutrum ligula porta massa fusce metus congue adipiscing fusce sodales nibh lectus justo ultricies vivamus lorem in justo eu porta proin nec ligula integer sodales sagittis odio magna proin at malesuada amet nam integer arcu molestie cursus ipsum bibendum rutrum morbi sed ipsum rutrum pharetra tellus enim adipiscing enim vulputate nibh sagittis nam duis amet lorem tellus porttitor vivamus sed justo quam odio mattis adipiscing odio massa pellentesque et morbi porttitor urna justo ut lectus nec auctor lorem nulla diam porttitor vitae eget in risus donec metus mauris bibendum eu lorem curabitur nam commodo magna risus ut leo duis tempus vitae justo in ornare auctor massa in diam donec eu bibendum sapien auctor vitae vulputate enim bibendum enim porta lorem orci nec auctor amet arcu quisque orci adipiscing ligula justo commodo ornare lorem ornare urna pellentesque diam leo gravida odio nec tellus urna tempus nec at sodales tempus sodales maecenas massa non integer vivamus pellentesque in pellentesque integer nam risus ornare massa molestie commodo nibh molestie amet congue commodo ut arcu non tellus sodales risus in mattis nulla lectus fusce mauris quisque vitae bibendum ipsum ligula morbi molestie ligula vitae pellentesque amet mauris tempus porta nec morbi commodo leo integer maecenas auctor eros nam ultricies tellus pharetra vivamus enim orci pellentesque urna odio gravida quam eget sagittis enim congue risus quam eget in nulla eu molestie rutrum gravida arcu vitae quam pharetra mattis leo eu sem nibh diam eros enim bibendum amet odio porttitor odio porta porttitor pellentesque justo sodales quam in pharetra porttitor nec ut cursus arcu sit gravida fusce eros auctor porttitor magna ut maecenas ligula nulla sagittis et orci sed eros enim curabitur odio sapien malesuada tellus duis gravida nulla ut cursus quam tellus rutrum sit ligula urna et morbi magna eros et curabitur donec eget pellentesque rutrum in ligula adipiscing magna nulla odio bibendum cursus pharetra amet cursus orci ultricies nulla malesuada elementum mattis nulla nec ligula a porta elementum sapien bibendum ultricies sed tempus lectus pellentesque sit eros in maecenas a orci risus justo orci ut donec vivamus mauris tellus donec elementum curabitur malesuada curabitur lectus nulla auctor molestie gravida arcu sed ut nec at magna tellus pharetra donec sagittis vitae curabitur enim urna sapien auctor donec duis fusce tempus at risus at donec integer auctor curabitur at sodales cursus tellus cursus urna porta eget nec cursus integer mauris porta justo vivamus bibendum auctor non nibh proin gravida maecenas molestie sodales curabitur sem pharetra eu quam fusce elementum lectus risus fusce morbi risus lorem integer donec ipsum sagittis nulla nibh malesuada massa ultricies tempus ultricies elementum sem sapien lectus nulla bibendum gravida metus sagittis metus integer orci odio sodales sit non eget sodales risus arcu fusce vivamus vitae risus massa malesuada urna gravida sodales enim curabitur sem ipsum morbi tellus enim porta amet arcu sagittis sodales maecenas magna ultricies et lectus risus fusce tellus adipiscing bibendum ornare quisque porttitor orci sodales urna ipsum nec eros non leo proin mauris massa congue proin ultricies enim leo eu enim sit non sem bibendum eros ultricies nibh sit proin ut gravida sapien quam ultricies gravida eu nibh et nibh magna vivamus ut molestie adipiscing in pharetra sem mattis auctor magna ligula curabitur porta rutrum at duis et sapien tellus mauris leo arcu rutrum sed sit non sapien enim auctor adipiscing quam integer non amet molestie amet pellentesque ut non diam nec sodales cursus sed tempus orci fusce diam duis sapien duis porttitor massa vivamus congue maecenas enim gravida eget sapien enim curabitur nec auctor ipsum magna eget ipsum lorem donec urna sit odio ornare gravida porttitor justo mattis gravida nibh eros fusce sed mauris a molestie pellentesque magna integer justo et eget non nam tellus porta sem metus rutrum nec tempus non mattis commodo urna fusce in curabitur risus quam eget mauris porta vulputate adipiscing diam gravida pellentesque arcu nulla pharetra vitae ornare nibh ultricies leo eu urna sagittis odio porta ipsum vivamus eget lectus curabitur vivamus morbi massa fusce nibh sagittis eros gravida justo maecenas congue proin sem porta lectus nam fusce a vulputate urna magna bibendum lectus ut eget quisque malesuada auctor tempus sagittis justo orci arcu lorem pharetra vitae auctor vulputate nam sapien ornare sem diam donec massa adipiscing nulla pharetra congue sem elementum arcu lectus nibh risus arcu adipiscing sodales non amet tellus odio cursus ut urna a diam congue metus sed orci duis tempus sapien nulla ligula pellentesque ligula lectus adipiscing proin pharetra maecenas sodales diam sed ut sed enim cursus arcu urna pellentesque amet orci adipiscing et rutrum massa commodo elementum sed molestie at orci adipiscing auctor ut ornare donec at diam ultricies urna vulputate molestie a duis molestie adipiscing odio nulla in nec mattis risus tempus sed vitae ligula bibendum at arcu sed sapien tellus sem metus amet auctor metus duis bibendum adipiscing lectus eros commodo eget pharetra maecenas vulputate magna orci tellus commodo leo et urna sem porta eu mattis diam odio nulla gravida pellentesque arcu pharetra enim tellus proin metus nulla donec lectus leo ut sapien amet bibendum orci sem nam morbi gravida nibh a rutrum pharetra diam quam rutrum mattis sapien maecenas at fusce magna duis leo tempus mattis sapien ligula mauris quam sed metus commodo pharetra commodo porta sem malesuada commodo sed at quam elementum nibh proin eu sit nec odio nibh ut nec fusce orci congue sit ut pharetra bibendum sed gravida metus sagittis commodo amet porttitor commodo massa vitae eu pellentesque pharetra integer porta lectus at sapien urna eros vivamus ornare pellentesque molestie lorem risus in leo cursus vitae mattis metus bibendum integer at donec fusce sapien eget at sed vitae maecenas a vulputate ut sagittis pharetra molestie magna eget orci bibendum tempus at elementum risus tellus pharetra sem duis sed quisque urna at sit nec nam bibendum amet mattis commodo fusce cursus vitae sodales metus amet sem et fusce morbi ut ligula sapien nec odio mauris curabitur vivamus amet sem elementum lorem et ligula sed leo sagittis nam mauris non pellentesque et pharetra orci odio eros lorem nec eros fusce duis gravida diam ornare urna gravida porttitor nam pellentesque commodo eu rutrum eu mattis risus arcu gravida in auctor rutrum quam ipsum pharetra proin duis fusce cursus eu ipsum justo amet eros arcu odio metus nam vitae fusce enim sit vivamus enim curabitur adipiscing donec rutrum sed ultricies sagittis risus ligula proin commodo vitae sodales malesuada sapien sem nulla elementum nulla commodo diam in arcu at nulla sed odio quisque at non curabitur proin at malesuada vivamus maecenas non ipsum tellus sagittis orci ultricies sed morbi porttitor malesuada magna sodales sagittis leo fusce curabitur sapien ut leo nam porttitor pellentesque morbi nulla eget nulla metus quisque maecenas diam nam donec metus porta ut vitae amet elementum proin massa vivamus sodales gravida molestie orci ornare risus tempus massa magna bibendum ornare arcu maecenas nec arcu risus sagittis in nam molestie nibh porttitor pellentesque porta ut magna cursus diam ornare sagittis magna quam integer ligula malesuada sem sit nec sem metus molestie justo rutrum at bibendum metus lorem ligula proin et lectus tellus risus tellus diam morbi et eu congue ligula eget commodo proin auctor donec risus eu lorem elementum rutrum ligula curabitur donec arcu maecenas rutrum integer ipsum commodo diam maecenas nibh eget vulputate diam odio eu quam porta integer sed malesuada metus odio nibh tellus odio magna donec massa curabitur a cursus arcu pharetra quam a integer leo vitae nulla justo arcu sapien non eu at commodo diam ut ipsum enim arcu donec sed duis mauris metus porta enim sodales diam tellus congue sodales nam vulputate cursus risus fusce sit vivamus massa nibh curabitur pellentesque porttitor urna duis sit sapien leo mattis metus sem ornare ultricies porta donec vivamus nulla commodo proin vulputate sem massa ornare curabitur leo arcu ipsum vivamus vitae magna gravida sapien non integer nec vivamus at commodo curabitur donec et malesuada maecenas ut et pellentesque lectus malesuada commodo donec eu tellus arcu cursus gravida malesuada sit lorem quisque sem non malesuada enim proin maecenas mattis commodo tellus sapien mauris bibendum metus mauris enim in morbi vivamus auctor sapien magna sed congue sit auctor tellus ultricies maecenas risus vivamus duis mattis arcu vivamus nibh proin morbi bibendum adipiscing ut cursus morbi rutrum enim ligula pharetra maecenas tempus integer congue morbi gravida vitae porttitor enim integer metus sem
                //.readmore_btn-wrap(style="width: 100%")
                //    btn.readmore_btn.js-readmore_btn.item-more Подробнее
        .header-page__container
            form#filtrProduct(action="#!")
                .clearfix.productList__filtrBlock
                    .row
                        .col-md-3.col-sm-6
                            .title__xs Рыбак
                            .form-group
                                .filtr__radio--wrapper
                                    input(type="radio", name="skill", id="skill1" checked)
                                    label(for="skill1") Новичок
                                .filtr__radio--wrapper
                                    input(type="radio", name="skill", id="skill2")
                                    label(for="skill2") Опытный
                        .col-md-8.col-sm-6
                            .title__xs Версия
                            .form-group
                                .filtr__radio--wrapper
                                    input(type="radio", name="version", id="version1" checked)
                                    label(for="version1") Новичок
                                .filtr__radio--wrapper
                                    input(type="radio", name="version", id="version2")
                                    label(for="version2") Опытный
                                .filtr__radio--wrapper
                                    input(type="radio", name="version", id="version3")
                                    label(for="version3") Опытный
                    .row
                        .col-md-3.col-sm-6
                            .title__xs Нагрузка
                            .form-group
                                #input_range-1.input__range
                                #input_range-1_value
                        .col-md-3.col-md-offset-1.col-sm-6
                            .title__xs Длина
                            .form-group
                                #input_range-2.input__range
                        .col-md-3.col-md-offset-1.col-sm-6
                            .title__xs Заглубление
                            .form-group
                                #input_range-3.input__range
                .container.productList__filtrBlock--control
                    .row
                        button.productList__filtrBlock--close.active
                            span ❮
                        button(type="reset", class="productList__filtrBlock--reset") сбросить фильтр
    .container-fluid
        .row
            .tile.tile--double(class=' col-4_8 col-lg-3 col-md-4 col-sm-6 ' data-tileid='2')
                .tile_content
                    a.tile-product(title="Jer-O Minnow")
                        span.tile-product_marker
                        .tile-product_image-wrapper
                            img.tile-product_image(src="http://cdn.strikepro.ru/article/0000750_0_headimage_thumbnail.png")
                        .tile-product_title
                            | Jer-O Minnow
                    ul.tile-product_group_list
                        li.tile-product_group_item
                            a.tile-product_group_link
                                |Flex Phantom 90
                        li.tile-product_group_item
                            a.tile-product_group_link
                                |Flex Phantom 90
                        li.tile-product_group_item
                            a.tile-product_group_link
                                |Flex Phantom 90
                        li.tile-product_group_item
                            a.tile-product_group_link
                                |Flex Phantom 90

            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)

            //
            //li.tile__wrapper.col-2_4.col-md-3.col-sm-4
            //    .tile.product.product__new
            //        img(src="/image/productImg-1.png", alt="")
            //        // этот блок с названием товара и его вариациями
            //        .product__footer
            //            .product__text Challenger X Deep Diver
            //        .product__marker
            //    ul.tile__product-group-list
            //        - var n = 0;
            //            while n < 10
            //                li.tile__product-group-item
            //                    a.tile__product-group-link Challenger X Deep Diver
            //                - n++
            //
            //li.tile__wrapper.col-2_4.col-md-3.col-sm-4
            //    a(href="#!").tile.product
            //        img(src="http://lorempixel.com/640/640/", alt="")
            //        .product__text Challenger X Deep Diver
            //        .product__marker
            //li.tile__wrapper.col-2_4.col-md-3.col-sm-4
            //    a(href="#!").tile.product
            //        img(src="http://lorempixel.com/640/640/", alt="")
            //        .product__text Challenger X Deep Diver
            //        .product__marker
            //li.tile__wrapper.col-2_4.col-md-3.col-sm-4
            //    a(href="#!").tile.product.bgElem
            //        img(src="http://lorempixel.com/640/640/", alt="")
            //        .product__text Challenger X Deep Diver
            //        .product__marker
            //li.tile__wrapper.col-2_4.col-md-3.col-sm-4
            //    a(href="#!").tile.product.product__new
            //        img(src="http://lorempixel.com/640/640/", alt="")
            //        .product__footer
            //            .product__text Challenger X Deep Diver
            //            // тут хранятся вариации
            //            .productVariation__wrap
            //                ul.productVariation__list
            //                    li
            //                        .button-base x23
            //                    li
            //                        .button-base x23
            //                    li
            //                        .button-base x23
            //        .product__marker
            //li.tile__wrapper.col-2_4.col-md-3.col-sm-4
            //    a(href="#!").tile.product
            //        img(src="http://lorempixel.com/640/640/", alt="")
            //        .product__footer
            //            .product__text Challenger X Deep Diver
            //            // тут хранятся вариации
            //            .productVariation__wrap
            //                ul.productVariation__list
            //                    li
            //                        .button-base x23
            //                    li
            //                        .button-base x23
            //                    li
            //                        .button-base x23
            //                    li
            //                        .button-base x23
            //        .product__marker
            //li.tile__wrapper.col-2_4.col-md-3.col-sm-4
            //    a(href="#!").tile.product
            //        img(src="http://lorempixel.com/640/640/", alt="")
            //        .product__text Challenger X Deep Diver
            //        .product__marker
            //li.tile__wrapper.col-2_4.col-md-3.col-sm-4
            //    a(href="#!").tile.product.bgElem
            //        img(src="http://lorempixel.com/640/640/", alt="")
            //        .product__text Challenger X Deep Diver
            //        .product__marker
            //li.tile__wrapper.col-2_4.col-md-3.col-sm-4
            //    a(href="#!").tile.product
            //        img(src="/image/productImg-1.png", alt="")
            //        .product__text Challenger X Deep Diver
            //        .product__marker
            //li.tile__wrapper.col-2_4.col-md-3.col-sm-4
            //    a(href="#!").tile.product
            //        img(src="/image/productImg-3.png", alt="")
            //        .product__text Challenger X Deep Diver
            //        .product__marker