main.page__product      
    .product__wrapper
        include breadcrumb 
        .product
            .product__title
                h1 Supersonic
                span Challenger X
            .product__row
                .product__stand
                    .product__stand--img
                        img.img_2d(src="http://via.placeholder.com/350x150", alt="")
                        img(src="http://test.vostrel.net/jquery.reel/example/object-movie-non-looping-sequence/green/1.png" width="100%" height="100%"
                        id="reel-image"
                        style="display: none !important"
                        )
                //.product__action
                //    a(href="#!").button-base хочу купить
                //    span артикул: 1258-001
                //    span код товара: EG-124B #SM37F
            .product__rightSidebar
                .product__sliderImg
                    ul
                        li
                            a(href="http://via.placeholder.com/350x150")
                                img(src="http://via.placeholder.com/350x150", alt="smallImg")
                        li
                            a(href="http://via.placeholder.com/350x150")
                                img(src="http://via.placeholder.com/350x150", alt="smallImg")
                        li
                            a(href="http://via.placeholder.com/350x150")
                                img(src="http://via.placeholder.com/350x150", alt="smallImg")
                        li
                            a(href="http://via.placeholder.com/350x150")
                                img(src="http://via.placeholder.com/350x150", alt="smallImg")
                        li
                            a(href="http://via.placeholder.com/350x150")
                                img(src="http://via.placeholder.com/350x150", alt="smallImg")
                button.button-base.js-btn3D 3D

    include ../../partials/product-description
    include product_table
    include product-video
    include product-models