.container-fluid.product-models__wrapper
    h4.title__xs.text-center Описание
    .row
        - var n = 0;
            while n < 9
                .col-md-2.col-sm-3.col-xs-6.product-models__item
                    .product-models__image
                        img(src="http://www.cwcab.com/images/products/small/60-H030-03008.png")
                    .product-models__title
                        | asdasda/asdasd/asdadada
                - n++
