main.page__aboutCompany
    include breadcrumb   
    .container
        h1.title__lg О компании
        include nav-tabs    
    .tab-content
        include tabs-1
        include tabs-2
        include tabs-3
        
