div(class="tab-pane fade" id="team")
    .container.team__wrapper
        h2.title__md Команда
        .row.team__item
            .col-sm-3.col-xs-6
                img(src="/image/team-img-1.jpg", alt="")
            .col-sm-9.col-xs-12
                .title__sm Дмитрий Русов
                .title__xs Career Highlights
                ul
                    li 5 - 1st place finishes Musky Tournaments
                    li Including one of the largest payouts in the history of Musky Tournaments
                    li Including one of the largest tournaments with over 700 anglers
                    li Featured on several TV Programs
                    li Credited for catching the largest Musky in the history of In-Fisherman TV
        .row.team__item
            .col-sm-3.col-xs-6
                img(src="/image/team-img-2.jpg", alt="")
            .col-sm-9.col-xs-12
                .title__sm Cергей Джерк
                .title__xs Career Highlights
                ul
                    li Career Earnings $312,700
                    li 2010 FLW West Angler of the Year
                    li 3 - 1st place finished
                    li 14 National Level Top Tens                 
        .row.team__item
            .col-sm-3.col-xs-6
                img(src="/image/team-img-3.jpg", alt="")
            .col-sm-9.col-xs-12
                .title__sm Дмитрий Русов
                .title__xs Career Highlights
                ul
                    li Career Earnings $110,000
                    li 2010 MWC World Walleye Champion
                    li 2 Time NTC All American
                    li 14 Time National Championship Qualifier
        .row.team__item
            .col-sm-3.col-xs-6
                img(src="/image/team-img-4.jpg", alt="")
            .col-sm-9.col-xs-12
                .title__sm Дмитрий Русов
                .title__xs Career Highlights
                ul
                    li Career Earnings $312,700
                    li 2010 FLW West Angler of the Year
                    li 3 - 1st place finished
                    li 14 National Level Top Tens  