.colorTable__wrapper
    h4.title__xs Варианты расцветок
    .colorTable
        .colorTable__item
            img(src="image/product/1.jpg", alt="" data-data-img='[{"smallIMG": "image/product/1.jpg","bigIMG": "image/product/1.jpg","data":[{"title": "Модель","data": "Какие то данные1"},{"title": "Артикуль","data": "0096799015125"},{"title": "Код4","data": "JL-128F12412"},{"title": "Цвет","data": "#FFF000"}]},{"smallIMG": "image/product/7.jpg","bigIMG": "image/product/7.jpg","data": [{"title": "Модель","data": "Какие то данные4235"},{"title": "Артикульew","data": "0w3590"},{"title": "Код","data": "ssL-128F"},{"title": "Цвет","data": "#FFFgsF"}]}]' )
            span A70-713
        .colorTable__item
            img(src="image/product/2.jpg", alt="" data-data-img='[{"smallIMG": "image/product/3.jpg","bigIMG": "image/product/3.jpg","data":[{"title": "Модель","data": "Какие то данные213"},{"title": "Артикуль","data": "0096791290"},{"title": "Код","data": "JL-128F57546ur"},{"title": "Цвет","data": "#000FFF"}]},{"smallIMG": "image/product/4.jpg","bigIMG": "image/product/4.jpg","data": [{"title": "Модель","data": "Какие то дан352ные"},{"title": "Артиwetwкуль","data": "0eg990"},{"title": "Код","data": "JL-128sdgF"},{"title": "Цвет","data": "#FFdgFFF"}]}]' )
            span A70-813
        .colorTable__item
            img(src="image/product/3.jpg", alt="" data-data-img='[{"smallIMG": "image/product/5.jpg","bigIMG": "image/product/5.jpg","data":[{"title": "Модель","data": "Какие то данные5125"},{"title": "Артикуль","data": "124120967990"},{"title": "Код","data": "JL-128Ftet"},{"title": "Цвет","data": "#000FFF"}]},{"smallIMG": "image/product/6.jpg","bigIMG": "image/product/6.jpg","data": [{"title": "Модель","data": "Какие w35"},{"title": "Артиsssкуль","data": "009gss90"},{"title": "Кsdод","data": "JL-128dF"},{"title": "Цвет","data": "#FFFdgF"}]}]' )
            span A70-913
        .colorTable__item
            img(src="image/product/4.jpg", alt="" data-data-img='[{"smallIMG": "image/product/8.jpg","bigIMG": "image/product/8.jpg","data": [{"title": "Модель","data": "Какие w35"},{"title": "Артиsssкуль","data": "009gss90"},{"title": "Кsdод","data": "JL-128dF"},{"title": "Цвет","data": "#FFFdgF"}]}]' )
            span A70-913as
