.colorTable__wrapper
    h4.title__xs Варианты расцветок
    .colorTable        
        .colorTable__item            
            img(src="/image/color-1.png", alt="")
            span A70-713
        .colorTable__item  
            img(src="/image/color-2.png", alt="")
            span A88
        .colorTable__item  
            img(src="/image/color-3.png", alt="")
            span A116L
        .colorTable__item  
            img(src="/image/color-4.png", alt="")
            span A119F
        .colorTable__item  
            img(src="/image/color-5.png", alt="")
            span A121F
        .colorTable__item  
            img(src="/image/color-6.png", alt="")
            span A116L
        .colorTable__item            
            img(src="/image/color-1.png", alt="")
            span A70-713
        .colorTable__item  
            img(src="/image/color-2.png", alt="")
            span A88
        .colorTable__item  
            img(src="/image/color-3.png", alt="")
            span A116L
        .colorTable__item  
            img(src="/image/color-4.png", alt="")
            span A119F
        .colorTable__item  
            img(src="/image/color-5.png", alt="")
            span A121F
        .colorTable__item  
            img(src="/image/color-6.png", alt="")
            span A116L
        .colorTable__item            
            img(src="/image/color-1.png", alt="")
            span A70-713
        .colorTable__item  
            img(src="/image/color-2.png", alt="")
            span A88
        .colorTable__item  
            img(src="/image/color-3.png", alt="")
            span A116L
        .colorTable__item  
            img(src="/image/color-4.png", alt="")
            span A119F
        .colorTable__item  
            img(src="/image/color-5.png", alt="")
            span A121F
        .colorTable__item  
            img(src="/image/color-6.png", alt="")
            span A116L

            
            
            