.colorTable__wrapper
    h4.title__xs Варианты расцветок
    .colorTable        
        .colorTable__item            
            img(src="http://lorempixel.com/400/200/", alt="")
            span A70-713
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A88
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A116L
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A119F
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A121F
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A116L
        .colorTable__item            
            img(src="http://lorempixel.com/400/200/", alt="")
            span A70-713
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A88
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A116L
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A119F
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A121F
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A116L
        .colorTable__item            
            img(src="http://lorempixel.com/400/200/", alt="")
            span A70-713
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A88
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A116L
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A119F
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A121F
        .colorTable__item  
            img(src="http://lorempixel.com/400/200/", alt="")
            span A116L

            
            
            