.colorTable__wrapper
    h4.title__xs Варианты расцветок
    .colorTable
        .colorTable__item
            img(src="image/product/1.jpg", alt="" data-data-img='[{"smallIMG": "image/product/1.jpg","bigIMG": "image/product/1.jpg","data":[{"title": "Модель","data": "Какие то данные1"},{"title": "Артикуль","data": "0096799015125"},{"title": "Код4","data": "JL-128F12412"},{"title": "Цвет","data": "#FFF000"}]},{"smallIMG": "image/product/7.jpg","bigIMG": "image/product/7.jpg","data": [{"title": "Модель","data": "Какие то данные4235"},{"title": "Артикульew","data": "0w3590"},{"title": "Код","data": "ssL-128F"},{"title": "Цвет","data": "#FFFgsF"}]}]' )
            span A70-713
        .colorTable__item
            img(src="image/product/2.jpg", alt="" data-data-img='[{"smallIMG": "image/product/3.jpg","bigIMG": "image/product/3.jpg","data":[{"title": "Модель","data": "Какие то данные213"},{"title": "Артикуль","data": "0096791290"},{"title": "Код","data": "JL-128F57546ur"},{"title": "Цвет","data": "#000FFF"}]},{"smallIMG": "image/product/4.jpg","bigIMG": "image/product/4.jpg","data": [{"title": "Модель","data": "Какие то дан352ные"},{"title": "Артиwetwкуль","data": "0eg990"},{"title": "Код","data": "JL-128sdgF"},{"title": "Цвет","data": "#FFdgFFF"}]}]' )
            span A70-813
        .colorTable__item
            img(src="image/product/3.jpg", alt="" data-data-img='[{"smallIMG": "image/product/5.jpg","bigIMG": "image/product/5.jpg","data":[{"title": "Модель","data": "Какие то данные5125"},{"title": "Артикуль","data": "124120967990"},{"title": "Код","data": "JL-128Ftet"},{"title": "Цвет","data": "#000FFF"}]},{"smallIMG": "image/product/6.jpg","bigIMG": "image/product/6.jpg","data": [{"title": "Модель","data": "Какие w35"},{"title": "Артиsssкуль","data": "009gss90"},{"title": "Кsdод","data": "JL-128dF"},{"title": "Цвет","data": "#FFFdgF"}]}]' )
            span A70-913
        .colorTable__item
            img(src="image/product/4.jpg", alt="" data-data-img='[{"smallIMG": "image/product/8.jpg","bigIMG": "image/product/8.jpg","data": [{"title": "Модель","data": "Какие w35"},{"title": "Артиsssкуль","data": "009gss90"},{"title": "Кsdод","data": "JL-128dF"},{"title": "Цвет","data": "#FFFdgF"}]}]' )
            span A70-913as











        //.colorTable__item
        //    img(src="image/product/4.jpg", alt="" data-big-img="image/product/4.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "69090"},{"title" : "Код", "data" : "JL-128F"}]' )
        //    span A119F
        //.colorTable__item
        //    img(src="image/product/5.jpg", alt="" data-big-img="image/product/5.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "00690"},{"title" : "Код", "data" : "JL-128F"}]' )
        //    span A121F
        //.colorTable__item
        //    img(src="image/product/6.jpg", alt="" data-big-img="image/product/6.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "065790"},{"title" : "Код", "data" : "JL-128F"}]' )
        //    span A116L
        //.colorTable__item
        //    img(src="image/product/7.jpg", alt="" data-big-img="image/product/7.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "001240"},{"title" : "Код", "data" : "JL-128F"}]' )
        //    span A70-713
        //.colorTable__item
        //    img(src="image/product/8.jpg", alt="" data-big-img="image/product/8.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "0001240"},{"title" : "Код", "data" : "JL-128F"}]' )
        //    span A88
        //.colorTable__item
        //    img(src="image/product/9.jpg", alt="" data-big-img="image/product/9.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "00af12490"},{"title" : "Код", "data" : "JL-128F"}]' )
        //    span A116L
        //.colorTable__item
        //    img(src="image/product/10.jpg", alt="" data-big-img="image/product/10.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "0asda90"},{"title" : "Код", "data" : "JL-128F"}]' )
        //    span A119F
        //.colorTable__item
        //    img(src="image/product/11.jpg", alt="" data-big-img="image/product/11.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "00122190"},{"title" : "Код", "data" : "qasda"}]' )
        //    span A121F
        //.colorTable__item
        //    img(src="image/product/12.jpg", alt="" data-big-img="image/product/12.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "2490"},{"title" : "Код", "data" : "JLasd8F"}]'  )
        //    span A116L
        //.colorTable__item
        //    img(src="image/product/13.jpg", alt="" data-big-img="image/product/13.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "01314090"},{"title" : "Код", "data" : "Jasda28F"}]'  )
        //    span A70-713
        //.colorTable__item
        //    img(src="image/product/14.jpg", alt="" data-big-img="image/product/14.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "asd90"},{"title" : "Код", "data" : "JL-asda28F"}]'  )
        //    span A88
        //.colorTable__item
        //    img(src="image/product/15.jpg", alt="" data-big-img="image/product/15.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "0012490"},{"title" : "Код", "data" : "JasdaF"}]'  )
        //    span A116L
        //.colorTable__item
        //    img(src="image/product/16.jpg", alt="" data-big-img="image/product/16.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "000"},{"title" : "Код", "data" : "JL-128F"}]'  )
        //    span A119F
        //.colorTable__item
        //    img(src="image/product/17.jpg", alt="" data-big-img="image/product/17.jpg"  data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "90"},{"title" : "Код", "data" : "Jasd28F"}]' )
        //    span A121F
        //.colorTable__item
        //    img(src="image/product/18.jpg", alt="" data-big-img="image/product/18.jpg"  data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "0067990"},{"title" : "Код", "data" : "JL-128F"}]' )
        //    span A116L
        //
        //
        //
        //