.colorTable__wrapper
    h4.title__xs Варианты расцветок
    .colorTable        
        .colorTable__item            
            img(src="image/product/1.jpg", alt="" data-big-img="image/product/1.jpg" data-alt-img='["image/product/1.jpg","image/product/3.jpg"]' data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "00090-23"},{"title" : "Код", "data" : "JL-128F#GC01S"}]' )
            span A70-713
        .colorTable__item
            img(src="image/product/3.jpg", alt="" data-big-img="image/product/3.jpg" data-alt-img='["image/product/7.jpg","image/product/6.jpg"]' data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "00967990"},{"title" : "Код", "data" : "JL-128F"},{"title" : "Цвет", "data" : "#FFFFFF"}]' )
            span A116L
        .colorTable__item
            img(src="image/product/4.jpg", alt="" data-big-img="image/product/4.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "69090"},{"title" : "Код", "data" : "JL-128F"}]' )
            span A119F
        .colorTable__item
            img(src="image/product/5.jpg", alt="" data-big-img="image/product/5.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "00690"},{"title" : "Код", "data" : "JL-128F"}]' )
            span A121F
        .colorTable__item
            img(src="image/product/6.jpg", alt="" data-big-img="image/product/6.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "065790"},{"title" : "Код", "data" : "JL-128F"}]' )
            span A116L
        .colorTable__item
            img(src="image/product/7.jpg", alt="" data-big-img="image/product/7.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "001240"},{"title" : "Код", "data" : "JL-128F"}]' )
            span A70-713
        .colorTable__item
            img(src="image/product/8.jpg", alt="" data-big-img="image/product/8.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "0001240"},{"title" : "Код", "data" : "JL-128F"}]' )
            span A88
        .colorTable__item
            img(src="image/product/9.jpg", alt="" data-big-img="image/product/9.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "00af12490"},{"title" : "Код", "data" : "JL-128F"}]' )
            span A116L
        .colorTable__item
            img(src="image/product/10.jpg", alt="" data-big-img="image/product/10.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "0asda90"},{"title" : "Код", "data" : "JL-128F"}]' )
            span A119F
        .colorTable__item
            img(src="image/product/11.jpg", alt="" data-big-img="image/product/11.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "00122190"},{"title" : "Код", "data" : "qasda"}]' )
            span A121F
        .colorTable__item
            img(src="image/product/12.jpg", alt="" data-big-img="image/product/12.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "2490"},{"title" : "Код", "data" : "JLasd8F"}]'  )
            span A116L
        .colorTable__item
            img(src="image/product/13.jpg", alt="" data-big-img="image/product/13.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "01314090"},{"title" : "Код", "data" : "Jasda28F"}]'  )
            span A70-713
        .colorTable__item
            img(src="image/product/14.jpg", alt="" data-big-img="image/product/14.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "asd90"},{"title" : "Код", "data" : "JL-asda28F"}]'  )
            span A88
        .colorTable__item
            img(src="image/product/15.jpg", alt="" data-big-img="image/product/15.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "0012490"},{"title" : "Код", "data" : "JasdaF"}]'  )
            span A116L
        .colorTable__item
            img(src="image/product/16.jpg", alt="" data-big-img="image/product/16.jpg" data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "000"},{"title" : "Код", "data" : "JL-128F"}]'  )
            span A119F
        .colorTable__item
            img(src="image/product/17.jpg", alt="" data-big-img="image/product/17.jpg"  data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "90"},{"title" : "Код", "data" : "Jasd28F"}]' )
            span A121F
        .colorTable__item
            img(src="image/product/18.jpg", alt="" data-big-img="image/product/18.jpg"  data-data-img='[{"title" : "Модель", "data" : "Какие то данные"},{"title" : "Артикуль", "data" : "0067990"},{"title" : "Код", "data" : "JL-128F"}]' )
            span A116L

            
            
            