include ../../uikit/tile/tile-video

.container-fluid.product__video-section
    h4.title__xs.text-center Видео
    .row
        //a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile__wrapper.col-xs-12.tile__wrapper--big.clearfix
        +tileVideo('col-xs-12 tile--double')
    .row
        - var n = 0;
            while n < 5
                +tileVideo('col-2_4 col-sm-3 col-xs-12 clearfix')
                - n++