.container-fluid
    h4.title__xs.text-center Характеристики
    .productTable
        .clearfix
            .row
                .col-md-4.col-sm-6.productTable__wrap
                    span.productTable__title Модель:
                    span.productTable__desc EG-122B
                .col-md-4.col-sm-6.productTable__wrap
                    span.productTable__title Длина,см:
                    span.productTable__desc 5
                .col-md-4.col-sm-6.productTable__wrap
                    span.productTable__title Вес, грамм:
                    span.productTable__desc 5
                .col-md-4.col-sm-6.productTable__wrap
                    span.productTable__title Версия:
                    span.productTable__desc Плавающий
                .col-md-4.col-sm-6.productTable__wrap
                    span.productTable__title Заглубление, метры:
                    span.productTable__desc 0,3
                .col-md-4.col-sm-6.productTable__wrap
                    span.productTable__title Нагрузка:
                    span.productTable__desc 2 кг
                .col-md-4.col-sm-6.productTable__wrap
                    span.productTable__title Крючок:
                    span.productTable__desc Тройник
