mixin tileVideo(size, tileid)
    .tile(class=size data-tileid=tileid)
        .tile_content
            a.tile-video.js__videoPopup(title="Jer-O Minnow" href="https://www.youtube.com/embed/-uzkjrEnI84")
                .tile-video_image-wrapper
                    img.tile-video_image(src="https://picsum.photos/300/300")
                .tile-video_control
                    .tile-video_control-icon.icon-youtube-play
                    .tile-video_control-text