mixin tileGallery(size, tileid)
    .tile(class=size data-tileid=tileid)
        .tile_content
            a.tile-gallery(title="Jer-O Minnow")
                .tile-gallery_image-wrapper
                    img.tile-gallery_image(src="https://picsum.photos/300/300")
                .tile-gallery_title
                    | 22 фотографии