mixin tileNews(size, tileid)
    .tile(class=size data-tileid=tileid)
        .tile_content
            .tile-news
                .tile-news_date
                    | 22/01
                .tile-news_title
                    | Lorem ipsum dolor sit amet.
                a.button-base
                    | подробнее