mixin tileSocial(size, tileid)
    .tile(class=size data-tileid=tileid)
        .tile_content
            .tile-social
                .tile-social_title
                    | присоединяйтесь к намsfasa
                .tile-social_content
                    | Подписались 754 человека
                .tile-social_icon.icon-facebook