.header-page__wrap
    ol.breadcrumb
        li
            a(href="#!") Каталог
        li
            a(href="#!") Воблеры 
        li
            a(href="#!") Challenger X 
        li.active
            a(href="#!") Supersonic