.container-fluid.product__video-section
    h4.title__xs.text-center Видео
    .row
        a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile__wrapper.col-xs-12.tile__wrapper--big.clearfix
            .tile
                img(src="http://lorempixel.com/640/480/?97378", alt="")
                .video__control
                    .video__control--icon.icon-youtube-play
                    .video__control--text посмотреть видео
    .row
        li.tile__wrapper.col-2_4.col-sm-3.col-xs-12.clearfix
            a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile.js__videoPopup
                img(src="http://lorempixel.com/640/480/?97378", alt="")
                .video__control
                    .video__control--icon.icon-youtube-play
                    .video__control--text посмотреть видео
        li.tile__wrapper.col-2_4.col-sm-3.col-xs-12.clearfix
            a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile.js__videoPopup
                img(src="http://lorempixel.com/640/480/?97378", alt="")
                .video__control
                    .video__control--icon.icon-youtube-play
                    .video__control--text посмотреть видео
        li.tile__wrapper.col-2_4.col-sm-3.col-xs-12.clearfix
            a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile.js__videoPopup
                img(src="http://lorempixel.com/640/480/?97378", alt="")
                .video__control
                    .video__control--icon.icon-youtube-play
                    .video__control--text посмотреть видео
        li.tile__wrapper.col-2_4.col-sm-3.col-xs-12.clearfix
            a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile.js__videoPopup
                img(src="http://lorempixel.com/640/480/?97378", alt="")
                .video__control
                    .video__control--icon.icon-youtube-play
                    .video__control--text посмотреть видео
        li.tile__wrapper.col-2_4.col-sm-3.col-xs-12.clearfix
            a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile.js__videoPopup
                img(src="http://lorempixel.com/640/480/?97378", alt="")
                .video__control
                    .video__control--icon.icon-youtube-play
                    .video__control--text посмотреть видео
        li.tile__wrapper.col-2_4.col-sm-3.col-xs-12.clearfix
            a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile.js__videoPopup
                img(src="http://lorempixel.com/640/480/?97378", alt="")
                .video__control
                    .video__control--icon.icon-youtube-play
                    .video__control--text посмотреть видео
        li.tile__wrapper.col-2_4.col-sm-3.col-xs-12.clearfix
            a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile.js__videoPopup
                img(src="http://lorempixel.com/640/480/?97378", alt="")
                .video__control
                    .video__control--icon.icon-youtube-play
                    .video__control--text посмотреть видео
        li.tile__wrapper.col-2_4.col-sm-3.col-xs-12.clearfix
            a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile.js__videoPopup
                img(src="http://lorempixel.com/640/480/?97378", alt="")
                .video__control
                    .video__control--icon.icon-youtube-play
                    .video__control--text посмотреть видео