.container-fluid.product__desc
    h4.title__xs.text-center Описание
    .row.bg--dark
        .tile__wrapper.tile__wrapper--big.col-md-6
            a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile.js__videoPopup
                img(src="http://lorempixel.com/640/480/?97378", alt="")
                .video__control
                    .video__control--icon.icon-youtube-play
                    .video__control--text посмотреть видео
        .col-md-6.tile__text.bg--dark.js-product-description
            p Предлагаем вашему вниманию плавающие воблеры Beakster STRIKE PRO® длиной 7,9 и 11 см. В отличие от других приманок, используется язык особой формы, напоминающий загнутый лепесток или ноготь, что придает приманке наиболее привлекательную игру и рыскающий стиль.Предлагаем вашему вниманию плавающие воблеры Beakster STRIKE PRO® длиной 7,9 и 11 см. В отличие от других приманок, используется язык особой формы, напоминающий загнутый лепесток или ноготь, что придает приманке наиболее привлекательную игру и рыскающий стиль.
