.page__contact {
    .row {
        margin-bottom: 60px;
    }
    .title__lg{
        margin-bottom: 50px;
    }
    .title__xs{
        margin-bottom: 20px;
    }
    .form-group {
        margin-bottom: 30px;
    }
    
    label{
        margin-bottom: 20px;
    }
    .btnMain{
        left: -37px;
    }
    textarea{
        height: 195px;
        color: #000;
    }
}
