.page__contact {
    .row {
        margin-bottom: 60px;
    }
    .title__lg {
        margin-bottom: 50px;
    }
    .title__xs {
        margin-bottom: 20px;
    }
    .form-group {
        margin-bottom: 30px;
    }
    label {
        margin-bottom: 20px;
    }
    .btnMain {
        left: -37px;
    }
    textarea {
        height: 195px;
        color: #000;
    }
    .contact__col {
        margin-bottom: 20px;
    }
    .contact__form {
        padding-left: 0;
        padding-right: 0;
        display: none;
        @media(min-width: 768px){
            display: block;
        }
    }
    .navbar-right {
        float: right!important;
        margin-right: -15px;
    }
}
