.page__product {
    position: relative;
    .tile__text {
        padding: 30px 15px;
        @media(min-width: 768px) {
            padding: 60px 50px;
        }
    }
    .product {
        position: relative;
        @media(min-width: 768px) {
            height: 40vw;
            min-height: 600px;
        }
        &__wrapper {
            padding: 0 5% 50px;
            background-color: $color5;
            position: relative;
            z-index: 1;
            @media(min-width: 768px) {
                padding: 0 5% 20px;
            }
            @media(min-width: 1024px) {
                padding: 0 95px 50px;
            }
            .breadcrumb__wrap {
                margin-bottom: 10px;
                background-color: transparent;
                padding-left: 0;
                padding-right: 0;
                margin-left: -15px;
                @media(min-width: 768px) {
                    margin-bottom: 20px;
                }
                @media(min-width: 1024px) {
                    margin-bottom: 50px;
                }
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                background-color: #fff;
                z-index: -1;
                @media(max-width: 767px) {
                    width: 100%;
                    height: 178px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
                @media(min-width: 768px) {
                    width: 60%;
                    height: 100%;
                    top: 0;
                    bottom: 0;
                    right: -10%;
                    transform: skew(-10deg);
                }
            }
        }
        &__title {
            h1 {
                font-size: 3.158rem;
                text-transform: uppercase;
                color: $color3;
                font-family: "OpenSans-Italic";
                margin-bottom: 30px;
            }
            span {
                font-size: 1.105rem;
                font-weight: bold;
            }
            @media(min-width: 768px) {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &__action {
            background-color: #fff;
            padding-top: 15px;
            @media(min-width: 768px) {
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: transparent;
                padding-top: 0;
            }
            .btnMain {
                display: block;
                font-size: 1.316rem;
                font-family: "OpenSans-Italic";
                text-align: center;
                left: 5px;
                margin-bottom: 20px;
                @media(min-width: 768px) {
                    margin-bottom: 40px;
                }
            }
            span {
                display: block;
                color: lighten(#000, 50% );
                text-align: center;
                @media(min-width: 768px) {
                    text-align: left;
                }
            }
        }
        &__rightSidebar {
            width: 270px;
            padding: 10px;
            margin: 0 auto;
            overflow: hidden;
            @media(min-width: 768px) {
                position: absolute;
                right: 0;
                top: calc(60% - 333px);
                width: 93px;
            }
            .btnMain {
                margin-top: 10px;
                margin-right: auto;
                margin-left: auto;
                @media(max-width: 767px) {
                    position: absolute;
                    top: 90px;
                    right: 0px;
                    left: inherit;
                }
            }
        }
        &__sliderImg {
            padding-top: 30px;
            @media(min-width: 768px) {
                padding-top: 0px;
            }
            ul {
                height: 80px;
                overflow: auto;
                width: 270px;
                position: relative;
                right: 0;
                font-size: 0;
                white-space: nowrap;
                @media(min-width: 768px) {
                    height: 270px;
                    width: 100px;
                }
                li {
                    display: inline-block;
                    @media(min-width: 768px) {
                        display: block;
                    }
                    a {
                        display: block;
                        width: 80px;
                        max-height: 80px;
                        margin-right: 10px;
                        background-color: #fff;

                        @media(min-width: 768px) {
                            margin-right: 0;
                            margin-bottom: 10px;
                            background-color: $color5;
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
        &__stand {
            width: 100%;
            height: 304px;
            margin: 0 auto;
            position: relative;
            padding-top: 80px;
            @media(min-width: 500px) {
                width: 500px;
                height: 304px;
            }
            @media(min-width: 768px) {
                position: absolute;
                top: -30%;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
            }
            @media(min-width: 1325px) {
                width: 625px;
                height: 380px;
            }
            &--img {
                width: 80%;
                height: 100%;
                margin: 0 auto;
                #image-reel{
                    display: none;
                    width: auto;
                    height: auto;
                }
                img{
                    max-height: 100%;
                }
            }            
        }
    }

    // new
    .productTable{
        padding-top: 60px;
        padding-bottom: 100px;
        &__wrap{
            font-size: 0;
            white-space: nowrap;
            min-height: 60px    
        }
        &__title{
            width: 45%;
            display: inline-block;
            vertical-align: middle;
            white-space: normal;
            margin-right: 5%;
            font-size: 1rem;
            font-weight: bold;
        }
        &__desc{
            width: 50%;
            display: inline-block;
            vertical-align: middle;
            white-space: normal;
            font-size: 1rem;
        }
    }
    .colorTable {
        font-size: 0;
        text-align: left;
        margin-left: -20px;
        margin-right: -20px;
        cursor: pointer;
        &__wrapper {
            padding-top: 60px;
            padding-bottom: 60px;
            .title__xs {
                margin-bottom: 60px;
                text-align: center;
            }
        }
        &__item {
            text-align: center;
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding-left: 20px;
            padding-right: 20px;
            @media(min-width: 425px) {
                width: 33.3333333%;
            }
            @media(min-width: 600px) {
                width: 25%;
            }
            @media(min-width: 1024px) {
                width: 16.6666667%;
            }
        }
        span {
            font-size: 1rem;
            line-height: 40px;
        }
    }
}
.colorTable__gallery {
    &--img {
        height: 360px;
        margin-bottom: 20px;
        overflow: auto;
        position: relative;
        text-align: center;
        img {
            display: inline-block;
            width: auto;
            height: auto;
            vertical-align: middle;
        }
        &:before {
            content: "";
            width: 0;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    &--wrapper {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1000000;
    }
    &--popup {
        width: 740px;
        height: 570px;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 1111;
        padding: 35px;
    }
    &--bottom {
        height: 100px;
        width: 100%;
        position: relative;
    }
    &--control {
        position: relative;
        margin: auto;
        button {
            border: none;
            color: #fff;
            position: absolute;
            width: 50px;
            height: 45px;
            top: -73px;
            z-index: 1;
            background-color: transparent;
            svg {
                position: relative;
                top: -3px;
                width: 15px;
                height: 8px;
                .caret__arrow {
                    stroke: #fafafa;
                }
            }
        }
        .left {
            float: left;
            left: -10px;
            bottom: 0;
            svg {
                transform: rotate(90deg);
            }
            &:after {
                content: "";
                background-color: $color3;
                position: absolute;
                right: 3px;
                top: 0;
                bottom: 0;
                display: block;
                height: 45px;
                width: 40px;
                transform: skew(15deg);
                z-index: -1;
            }
        }
        .right {
            float: right;
            right: -10px;
            bottom: 0;
            svg {
                transform: rotate(-90deg);
            }
            &:after {
                content: "";
                background-color: $color3;
                position: absolute;
                right: 3px;
                top: 0;
                bottom: 0;
                display: block;
                height: 45px;
                width: 40px;
                transform: skew(-15deg);
                z-index: -1;
            }
        }
    }
    &--title {
        &__name {
            font-size: 26px;
            color: $color3;
            font-family: "OpenSans-Italic";
            text-transform: uppercase;
            margin-right: 15px;
        }
        &__model {
            font-size: 19px;
            text-transform: uppercase;
        }
    }
    &--slider {
        overflow: hidden;
        position: relative;
        width: 590px;
        height: 100px;
        margin: 0 auto;
        padding: 30px 0;
        .slider {
            &__wrap {
                transition: all .2s ease-in-out;
                position: absolute;
                font-size: 0;
                width: 100%;
                white-space: nowrap;
            }
            &__item {
                width: calc(100% / 6);
                display: inline-block;
                padding: 0 10px;
                border: 2px solid transparent;
                &.active {
                    border: 2px solid $color3;
                }
            }
            &__link {
                display: block;
                position: relative;
                overflow: hidden;
                height: 37px;
                width: 100%;
                img {
                    display: block;
                    width: inherit;
                    min-width: 100%;
                    height: auto;
                    position: absolute;
                    max-width: 150%;
                    max-height: 150%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
    }
}
.close__popup {
    background-color: transparent;
    border: none;
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
    top: 8px;
    right: 8px;
    line-height: 15px;
    padding: 0;
    font-size: 30px;
}
.popUP__wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000000;
    &.active {
        display: block;
    }
}
.popUP__video {
    max-width: 700px;
    max-height: 420px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    padding: 30px;

    @media(min-width: 1024px){
        max-width: 900px;
        max-height: 540px;
    }

    .close__popup {
        top: 8px;
        right: 8px;
        line-height: 15px;
        padding: 0;
        font-size: 30px;
    }
}

.popUP__productImg{
    max-width: 700px;
    max-height: 420px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    &--wrap{
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

.product__zoom{
    background-color: transparent;
    background-image: url(/image/zoom_icon.png);
    background-repeat: no-repeat;
    display: block;
    width: 32px;
    height: 31px;
    border: none;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
        z-index: 4;
}