.colorTable__gallery--wrapper.js__popup
    .colorTable__gallery--popup.js__noPropagation
        button.close__popup.js__closePopup &#215;
        .colorTable__gallery--top
            .colorTable__gallery--content
                .colorTable__gallery--characteristics
                    ul.characteristics__list

                .colorTable__gallery--img
                    img(src="", alt="")
                .colorTable__gallery--title
            .colorTable__gallery--variation
                ul.variation__list

        .colorTable__gallery--bottom
            .glide.colorTable__gallery--slider(style="width: auto")
                .glide__track(data-glide-el="track")
                    ul.glide__slides

                .glide__arrows.colorTable__gallery--control(data-glide-el="controls[nav]")
                    button.glide__arrow.glide__arrow--left.left(data-glide-dir="<")
                        svg
                            use.caret__arrow(xlink:href="#svg_arrow")
                    button.glide__arrow.glide__arrow--right.right(data-glide-dir=">")
                        svg
                            use.caret__arrow(xlink:href="#svg_arrow")