include ../../uikit/tile/tile-video
.container-fluid.product__video-section
    h4.title__xs.text-center Видео
    .row
        +tileVideo(' tile--double')
    .row
        +tileVideo('col-2_4 col-sm-3 col-xs-12')
        +tileVideo('col-2_4 col-sm-3 col-xs-12')
        +tileVideo('col-2_4 col-sm-3 col-xs-12')
        +tileVideo('col-2_4 col-sm-3 col-xs-12')
        +tileVideo('col-2_4 col-sm-3 col-xs-12')
        +tileVideo('col-2_4 col-sm-3 col-xs-12')
        +tileVideo('col-2_4 col-sm-3 col-xs-12')
        +tileVideo('col-2_4 col-sm-3 col-xs-12')
        +tileVideo('col-2_4 col-sm-3 col-xs-12')
        +tileVideo('col-2_4 col-sm-3 col-xs-12')