include ../../uikit/tile/tile-video

.container-fluid.product__desc
    h4.title__xs.text-center Описание
    .row.readmore-wrapper
        +tileVideo('col-md-6 tile--double')
        .tile__text.readmore-content
            p Предлагаем вашему вниманию плавающие воблеры Beakster STRIKE PRO® длиной 7,9 и 11 см. В отличие от других приманок, используется язык особой формы, напоминающий загнутый лепесток или ноготь, что придает приманке наиболее привлекательную игру и рыскающий стиль.Предлагаем вашему вниманию плавающие воблеры Beakster STRIKE PRO® длиной 7,9 и 11 см. В отличие от других приманок, используется язык особой формы, напоминающий загнутый лепесток или ноготь, что придает приманке наиболее привлекательную игру и рыскающий стиль.
        .readmore-button_wrapper
            button.readmore-button.item-more.js-readmore_btn
                | ПОДРОБНЕЕ
