include ../uikit/tile/tile-product
include ../uikit/tile/tile-news
include ../uikit/tile/tile-social
include ../uikit/tile/tile-gallery
include ../uikit/tile/tile-video
include ../uikit/tile/tile-blog
br
br
br
.container
    br
    br
    br
    br

//include product-3/color_table
//include product-3/colorTableGallery





.container
    h2  Карточка продукта - квадрат
    br
    +tileProduct('col-md-3')
    br
.container
    //h2  Карточка продукта - прямоугольник
    //br
    //+tileProduct('tile--double')
    br
    h2  Карточка новости - квадрат
    br
    +tileNews('col-md-3')
    br
.container
    //h2  Карточка новости - прямоугольник
    //br
    //+tileNews('tile--double')
    br
    h2  Карточка соцсети - квадрат
    br
    +tileSocial('col-md-3')
    br
.container
    //h2  Карточка соцсети - прямоугольник
    //br
    //+tileSocial('tile--double')
    br
    h2  Карточка галерея - квадрат
    br
    +tileGallery('col-md-3')
    br
.container
    //h2  Карточка галерея - прямоугольник
    //br
    //+tileGallery('tile--double')
    br
    h2  Карточка видео - квадрат
    br
    +tileVideo('col-md-3')
    br
.container
    //h2  Карточка видео - прямоугольник
    //br
    //+tileVideo('tile--double')
    br
    h2  Карточка блог - квадрат
    br
    +tileBlog('col-md-3')
    br
    //h2  Карточка блог - прямоугольник
    //br
    //+tileBlog('tile--double')





