main.page__searchingResults
    include breadcrumb   
    .container
        h1.title__lg Результаты поиска
        .prompt 
            | По запросу 
            a(href="#!") «воблеры» 
            |найдено 3 товара из каталога и 35 статей
    .container
        .title__sm Каталог
        .row
            li.tile__wrapper.col-2_4.col-md-3
                a.tile.product.product__new
                    img(src="/image/productImg-3.png" alt="")
                    .product__text Supersonic 
                    .roduct__marker
            li.tile__wrapper.col-2_4.col-md-3
                a.tile.product
                    img(src="/image/productImg-3.png" alt="")
                    .product__text Small Supersonic
                    .roduct__marker
            li.tile__wrapper.col-2_4.col-md-3
                a.tile.product
                    img(src="/image/productImg-3.png" alt="")
                    .product__text Baby Pro
                    .roduct__marker
    .container
        .title__sm Блог
        .row
            .col-xs-12
                .title__md Женский турнир по ловле на поплавок прошел в Воронеже
                p ... эту точку на завтрашний день. время подходило к обеду, а у меня ни одной поклёвки, что я только не пробовал… воблерами в ветер уже порядка 10 м/с было очень не комфортно работать. пройдя весь водоём, прочитав рельеф, приметив...
        .row
            .col-xs-12
                .title__md Вести с водоёмов
                p ... в зависимости от смены погоды, клев может быть неустойчивым, но очень жадным. форель клюет не только на пасты, воблеры и блесны, но также на опарыша, червя и даже на консервированную кукурузу, при условии, что используется...
        .row
            .col-xs-12
                .title__md Соревнования по ловле форели спиннингом «Пятнистый Кубок Фион 2015»
                p ... эту точку на завтрашний день. время подходило к обеду, а у меня ни одной поклёвки, что я только не пробовал… воблерами...
        .row
            .col-xs-12
                .title__md До свидания, бабье лето!
                p ...клюет не только на пасты, воблеры и блесны, но также на опарыша, червя и даже на консервированную кукурузу, при условии, что используется...
        .row
            .col-xs-12
                .title__md Вести с водоёмов
                p ...клюет не только на пасты, воблеры и блесны, но также на опарыша, червя и даже на консервированную кукурузу, при условии, что используется...
    .container
        .row
            ul.pagination
                li
                    a(href="#!") 1
                li.active
                    a(href="#!") 2
                li
                    a(href="#!") 3
                li
                    a(href="#!") 4
                li
                    a(href="#!") 5
                li
                    a(href="#!") ...
                li
                    a(href="#!") 17




