.tile {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    
    
    
    &__wrapper {
        position: relative;
        height: 24vw;
    
    @media(min-width: 1400px) {        
        height: calc(20vw - 32px);        
    }
    }
    img {
        height: 100%;
        width: 100%;
    }
    .video {
        &__control {
            text-align: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 200px;
            height: 100px;
            &--icon {
                display: block;
                opacity: 0.8;
                &:before {
                    font-size: 65px;
                    color: #fff;
                }
            }
            &--text {
                text-transform: uppercase;
                color: $color3;
                font-size: 18px;
            }
        }
    }
    &.product {
        background-color: $color5;
        color: #fff;
        padding: 20px;
        text-align: center;
        img {
            display: inline-block;
            width: auto;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }
        .product__text {
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 1;
            font-size: 18px;
            color: $color3;
            text-transform: uppercase;
            line-height: 21px;
            text-align: left;
        }
        &__marker {
            display: none;
        }
        &__new {
            .product__marker {
                display: block;
                background-color: $color3;
                color: #fff;
                display: block;
                width: 100px;
                height: 100px;
                transform: rotate(-45deg);
                position: absolute;
                z-index: 2;
                top: -50px;
                left: -50px;
                &:after {
                    content: "NEW";
                    position: absolute;
                    bottom: 8px;
                    left: 0;
                    right: 0;
                }
            }
        }
        &:before {
            content: "";
            width: 0;
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
    }
    &.social {
        color: #fff;
        text-align: left;
        padding: 20px;
        background-color: $color3;
        &__text {
            font-size: 19px;
            line-height: 24px;
        }
        .title__sm {
            margin-bottom: 25px;
            color: #fff;
        }
        .social__icon {
            background-color: #fff;
            color: $color3;
            width: 84px;
            height: 84px;
            text-align: center;
            font-size: 50px;
            line-height: 84px;
            position: absolute;
            bottom: 20px;
            left: 20px;
        }
        &:hover {
            color: #fff !important;
            text-decoration: none;
        }
    }
    &.blog {
        padding: 20px;
        a {
            color: $color3;
            text-transform: uppercase;
        }
    }
    &.news {
        padding: 20px;
        .news__data {
            color: $color3;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .title__xs {
            margin-bottom: 25px;
        }
        .btnMain {
            left: 10px;
        }
    }
    &.gallery {
        color: #fff;
        text-align: left;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        .gallery__text {
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 1;
            font-size: 18px;
            color: $color3;
            text-transform: uppercase;
            line-height: 21px;
            span{
                font-family: "OpenSans-Regular";
                vertical-align: middle;
            }
            .icon-instagram {
                &:before {
                color: #fff;
                font-size: 18px;
                margin-right: 5px;
            }
            }
            
        }
    }
}
