@font-face {
  font-family: "OpenSans-Bold";
  src: url('../fonts/OpenSans/OpenSans-Bold.eot');
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("opentype"),
  url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
  url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url('../fonts/OpenSans/OpenSans-Italic.eot');
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf") format("opentype"),
  url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
  url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff'),
  url('../fonts/OpenSans/OpenSans-Italic.svg#OpenSans-Italic') format('svg'),
  url('../fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url('../fonts/OpenSans/OpenSans-Regular.eot');
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("opentype"),
  url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'social';
  src: url('#{$icomoon-font-path}/social.eot?k2fcde');
  src: url('#{$icomoon-font-path}/social.eot?k2fcde#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/social.ttf?k2fcde') format('truetype'),
  url('#{$icomoon-font-path}/social.woff?k2fcde') format('woff'),
  url('#{$icomoon-font-path}/social.svg?k2fcde#social') format('svg');
  font-weight: normal;
  font-style: normal;
}