$color1: #3d3d3d;
$color2: #232323;
$color3: #73af19;
$color4: #000000;

$icomoon-font-path: "../fonts/SocialIcon" !default;

$icon-search: "\e904";
$icon-rocket: "\e902";
$icon-vk: "\e903";
$icon-instagram: "\e900";
$icon-youtube-play: "\e901";
$icon-facebook: "\ea90";







