.productTable
    .container
        .row
            .col-md-4.col-sm-6.productTable__wrap
                span.productTable__title Модель: 
                span.productTable__desc EG-122B
            .col-md-4.col-sm-6.productTable__wrap
                span.productTable__title Длина,см: 
                span.productTable__desc 5
            .col-md-4.col-sm-6.productTable__wrap
                span.productTable__title Вес, грамм: 
                span.productTable__desc 5
            .col-md-4.col-sm-6.productTable__wrap
                span.productTable__title Версия: 
                span.productTable__desc Плавающий
            .col-md-4.col-sm-6.productTable__wrap
                span.productTable__title Заглубление, метры: 
                span.productTable__desc 0,3
            .col-md-4.col-sm-6.productTable__wrap
                span.productTable__title Нагрузка: 
                span.productTable__desc 2 кг
            .col-md-4.col-sm-6.productTable__wrap
                span.productTable__title Крючок: 
                span.productTable__desc Тройник          





//.produstTable
    table
        thead
            tr
                th Модель
                th Длина,см
                th Вес, грамм
                th Версия
                th Заглубление, метры
                th Нагрузка
                th Крючок
        tbody
            tr
                td EG-122B
                td 5
                td 5
                td Плавающий
                td 0,3
                td 2 кг
                td Тройник
            tr
                td EG-123B
                td 5
                td 6
                td Плавающий
                td 0,3
                td 3 кг
                td Тройник
            tr
                td EG-124B
                td 9
                td 7
                td Плавающий
                td 0,3
                td 5 кг
                td Тройник
            tr
                td EG-125B
                td 7
                td 3,6
                td Плавающий
                td 0,3
                td 3,5 кг
                td Тройник
