main.mainContent.mainContent__index
    .container-fluid
        ul.row
            li.tile__wrapper.col-4_8.col-md-6
                a.tile.product.product__new
                    img(src="/image/productImg-4.png", alt="")
                    .product__text Challenger X Deep Diver
                    .product__marker
            li.tile__wrapper.col-4_8.col-md-6
                .tile
                    img(src="/image/itemvideo-img1.jpg", alt="")
                    .video__control
                        .video__control--icon.icon-youtube-play
                        .video__control--text посмотреть видео
            li.tile__wrapper.col-4_8.col-md-6
                .tile
                    img(src="/image/itemvideo-img2.jpg", alt="")
                    .video__control
                        .video__control--icon.icon-youtube-play
                        .video__control--text посмотреть видео
            li.tile__wrapper.col-2_4.col-md-3
                .tile.news
                    .news__data 12 сен
                    .title__xs Соревнования по ловле форели спиннингом «Пятнистый Кубок Фион 2015»
                    a(href="#").btnMain Перейти
            li.tile__wrapper.col-2_4.col-md-3
                a.tile.product.product__new
                    img(src="/image/productImg-3.png", alt="")
                    .product__text Supersonic
                    .product__marker
            li.tile__wrapper.col-4_8.col-md-6
                .tile.blog
                    p
                       | История торговой марки STRIKE PRO® 
                       | скромно началась в 1973 году на острове Тайвань. В то 
                       | время компания была производителем блесен под патронажем известных американских и               
                       | шведских фирм. Менялись технологии, накапливался опыт, увеличивались объемы, и к концу 
                       | 80-х  годов компания уже являлась...
            li.tile__wrapper.col-2_4.col-md-3
                a.tile.gallery               
                    img(src="/image/itemGallery-img1.jpg", alt="")
                    .gallery__text
                        span.icon-instagram 
                        span 5 фотографий
            li.tile__wrapper.col-2_4.col-md-3
                a(href="#!").tile.social
                    .title__sm присоединяйтесь к нам
                    .social__text Подписались 754 человека
                    .social__icon.icon-vk
            li.tile__wrapper.col-2_4.col-md-3
                a(href="#!").tile.gallery                   
                    img(src="/image/itemGallery-img2.jpg", alt="")
                    .gallery__text
                        span.icon-instagram 
                        span 19 фотографий
            li.tile__wrapper.col-2_4.col-md-3
                .tile.news
                    .news__data 1 CЕН
                    .title__xs Международный фестиваль рыбной ловли «Ладожские шхеры 2015»
                    a(href="#").btnMain Перейти
            li.tile__wrapper.col-2_4.col-md-3
                a(href="#!").tile.product
                    img(src="/image/productImg-2.png", alt="")
                    .product__text Jer-O Minnow
                    .product__marker
            li.tile__wrapper.col-2_4.col-md-3
                .tile.news
                    .news__data 27 АВГ
                    .title__xs На Камчатке пройдет лососевый фестиваль
                    a(href="#").btnMain Перейти
            li.tile__wrapper.col-2_4.col-md-3
                a(href="#!").tile.product
                    img(src="/image/productImg-1.png", alt="")
                    .product__text Small Supersonic
                    .product__marker
            li.tile__wrapper.col-2_4.col-md-3
                a(href="#!").tile.social
                    .title__sm присоединяйтесь к нам
                    .social__text Подписались 754 человека
                    .social__icon.icon-facebook           
            li.tile__wrapper.col-2_4.col-md-3
                .tile.news
                    .news__data 20 АВГ
                    .title__xs Женский турнир по ловле на поплавок прошел в Воронеже
                    a(href="#").btnMain Перейти
            li.tile__wrapper.col-2_4.col-md-3
                a(href="#!").tile.gallery                 
                    img(src="/image/itemGallery-img3.jpg", alt="")
                    .gallery__text
                        span.icon-instagram 
                        span 23 фотографий
            
       
    
