.mainContent.mainContent__index
    .container-fluid
        ul.row
            li.itemProduct__wrapper.col-4_8.col-md-6
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemVideo__wrapper.col-4_8.col-md-6
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure     beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemVideo__wrapper.col-2_4.col-md-6
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure     beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemNews__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemProduct__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemBlog__wrapper.col-4_8.col-md-6
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemGallery__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemShare__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemGallery__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemNews__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemProduct__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemNews__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemProduct__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemShare__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemNews__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            li.itemGallery__wrapper.col-2_4.col-md-3
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam a dicta, nobis ab. Maxime, qui. Dolorem, sequi tempore consequuntur saepe iure beatae, incidunt dolor cumque tenetur illo iste, animi natus.
            
       
    
