.mainContent.mainContent__index
    .container-fluid
        ul.row
            li.itemProduct__wrapper.col-4_8.col-md-6
                
            li.itemVideo__wrapper.col-4_8.col-md-6
              
            li.itemVideo__wrapper.col-2_4.col-md-6
                
            li.itemNews__wrapper.col-2_4.col-md-3
                
            li.itemProduct__wrapper.col-2_4.col-md-3
                
            li.itemBlog__wrapper.col-4_8.col-md-6
                
            li.itemGallery__wrapper.col-2_4.col-md-3
                a.itemGallery                
                    img(src="/image/itemGallery-img1.jpg", alt="")
                    .itemGallery__text.icon-instagram 5 фотографий
            li.itemSocial__wrapper.col-2_4.col-md-3
                a.itemSocial
                    .itemSocial__title присоединяйтесь к нам
                    .itemSocial__text Подписались 754 человека
                    .itemSocial__icon.icon-vk
            li.itemGallery__wrapper.col-2_4.col-md-3
                a.itemGallery                
                    img(src="/image/itemGallery-img2.jpg", alt="")
                    .itemGallery__text.icon-instagram 19 фотографий
            li.itemNews__wrapper.col-2_4.col-md-3
                
            li.itemProduct__wrapper.col-2_4.col-md-3
                
            li.itemNews__wrapper.col-2_4.col-md-3
                
            li.itemProduct__wrapper.col-2_4.col-md-3
                
            li.itemSocial__wrapper.col-2_4.col-md-3
                a.itemSocial
                    .itemSocial__title присоединяйтесь к нам
                    .itemSocial__text Подписались 754 человека
                    .itemSocial__icon.icon-facebook           
            li.itemNews__wrapper.col-2_4.col-md-3
                
            li.itemGallery__wrapper.col-2_4.col-md-3
                a.itemGallery                
                    img(src="/image/itemGallery-img3.jpg", alt="")
                    .itemGallery__text.icon-instagram 23 фотографий
            
       
    
