include ../../uikit/tile/tile-product
include ../../uikit/tile/tile-news
include ../../uikit/tile/tile-social
include ../../uikit/tile/tile-gallery
include ../../uikit/tile/tile-video
include ../../uikit/tile/tile-blog
main.mainContent.mainContent__index#mainContent
    .container-fluid
        .row.tile-list
            +tileProduct('col-2_4 col-md-6 col-sm-8 col-xs-12', 2)
            +tileVideo('col-2_4 col-md-3 col-sm-4 ol-xs-12', 1)
            +tileVideo('col-2_4 col-md-6 col-sm-8 col-xs-12', 2)
            +tileNews('col-2_4 col-md-6 col-sm-8 col-xs-12', 2)
            +tileProduct('col-2_4 col-md-6 col-sm-8 col-xs-12', 1)
            +tileBlog('col-2_4 col-md-6 col-sm-8 col-xs-12', 1)
            +tileGallery('col-2_4 col-md-6 col-sm-8 col-xs-12', 1)
            +tileNews('col-2_4 col-md-6 col-sm-8 col-xs-12', 2)
            +tileNews('col-2_4 col-md-6 col-sm-8 col-xs-12', 1)
            +tileSocial('col-2_4 col-md-6 col-sm-8 col-xs-12', 1)
            +tileNews('col-2_4 col-md-6 col-sm-8 col-xs-12', 2)
            +tileBlog('col-2_4 col-md-6 col-sm-8 col-xs-12', 1)
