doctype html
html
    head
        include partials/head
    body               
        .wrapper
            header.header
                include partials/header                        
            include pages/contact/contact
        include partials/footer  
        include partials/script       