doctype html
html
    head
        include partials/head
    body               
        .wrapper
            include partials/header
            include pages/index/main
        include partials/footer  
        include partials/script          
