doctype html
html
    head
        include partials/head
    body               
        .wrapper
            header.header
                include partials/header
                include partials/slider            
            include pages/index/main
        include partials/footer  
        include partials/script          
