doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Fish
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/magnific-popup.css', rel='stylesheet')
        link(href='css/styles.min.css', rel='stylesheet')
    body
        .wrapper
            header.header
                include partials/header                       
            include pages/product/product
        include partials/footer  
        include partials/script
        script(src='js/jquery.panzoom.min.js')
        script(src='js/jquery.magnific-popup.min.js')
        script(src='js/jquery.changeActiveNav.min.js')
        script(src='js/productSlider.js')