doctype html
html
    head
        include partials/head
    body               
        .wrapper
            header.header
                include partials/header                       
            include pages/product/product
        include partials/footer  
        include partials/script   