
<footer class="footer">
  <div class="container-fluid">
    <div class="row footer__top">
      <div class="col-lg-9 col-md-8 col-sm-6 col-sm-push-6">
        <div class="footer__col">
          <div class="footer__colTitle">о компании</div>
          <ul class="footer__menuList">
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">История бренда</a></li>
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">Дружба с магазинами</a></li>
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">Галерея</a></li>
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">Партнеры</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <div class="footer__colTitle">каталог продукции</div>
          <ul class="footer__menuList">
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">Балансиры STRIKE PRO</a></li>
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">Блесны STRIKE PRO</a></li>
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">Воблеры SKAGIT DESIGNS</a></li>
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">Воблеры STRIKE PRO</a></li>
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">Где купить?</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <div class="footer__colTitle">Медиа</div>
          <ul class="footer__menuList">
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">Блог</a></li>
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">СМИ о нас</a></li>
            <li class="footer__menuItem"><a href="#!" class="footer__menuLink">Выставки и соревнования</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-sm-pull-6">
        <div class="footer__colTitle">стань подписчиком      </div>
        <form class="form-inline subscription-form">
          <div class="form-group form-group-noWrap">
            <input type="email" name="email" placeholder="Адрес электронной почты" class="form-control"/>
            <button type="submit" class="btnMain">да </button>
          </div>
          <div class="popUP__wrapper js__popup">
            <div class="Modal__wrapper js__noPropagation">
              <button class="close__popup js__closePopup">×</button>
              <div class="Modal">
                <div class="Modal__title">Спасибо!</div>
                <p class="Modal__text">На Ваш электронный адрес отправлена ссылка, с помощью которой Вы сможете подтвердить Вашу заявку.</p>
                <button class="btnMain js__closePopup">Закрыть</button>
              </div>
            </div>
          </div>
          <div class="popUP__wrapper js__popup--error">
            <div class="Modal__wrapper js__noPropagation">
              <button class="close__popup js__closePopup">×</button>
              <div class="Modal">
                <div class="Modal__title">Ошибка!</div>
                <p class="Modal__text">Ошибка при отправке запроса. Попробуйте повторить запрос позже.</p>
                <button class="btnMain js__closePopup">Закрыть</button>
              </div>
            </div>
          </div>
        </form>
        <ul class="footer__socialList">
          <li class="footer__socialItem"><a href="#!" class="footer__socialLink icon-facebook">Facebook</a></li>
          <li class="footer__socialItem"><a href="#!" class="footer__socialLink icon-rocket">Дружба с магазинами </a></li>
          <li class="footer__socialItem"><a href="#!" class="footer__socialLink icon-youtube-play">youtube</a></li>
          <li class="footer__socialItem"><a href="#!" class="footer__socialLink icon-vk">vk</a></li>
          <li class="footer__socialItem"><a href="#!" class="footer__socialLink icon-instagram">instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="row footer__bottom">
      <div class="col-xs-12">
        <p class="copyright">STRIKE PRO Россия, Все права защищены</p>
      </div>
    </div>
  </div>
</footer>