
<svg style="display: none">
  <symbol id="svg_arrow">
    <polyline points="0,0 7,7 15,0" fill="rgba(249,249,249, 0)" stroke-width="2">  </polyline>
  </symbol>
</svg>
<div class="header__top">
  <nav>
    <div class="container-fluid">
      <div class="row">
        <div class="header__logo">               <a href="/index.html">Brand<img src="/image/logo.png" alt=""/></a></div>
        <ul class="headerNav__list">
          <li class="headerNav__item"><a href="#!" class="headerNav__link dropdown__toogle">О компании	<span class="caret">
                <svg>
                  <use xlink:href="#svg_arrow" class="caret__arrow">  </use>
                </svg></span></a>
            <ul class="dropdown__menu">
              <li><a href="/aboutCompany.html">История бренда</a></li>
              <li><a href="/aboutCompany.html">Производство</a></li>
              <li><a href="/aboutCompany.html">STRIKEPRO TEAM</a></li>
              <li><a href="/aboutCompany.html">Сертификаты</a></li>
              <li><a href="/aboutCompany.html">Работа у нас</a></li>
            </ul>
          </li>
          <li class="headerNav__item custom-menu__btn"><a href="#" class="headerNav__link">Каталог<span class="caret">
                <svg>
                  <use xlink:href="#svg_arrow" class="caret__arrow"> </use>
                </svg></span></a>
            <div class="dropdown__menu custom-menu__wrapper">
              <div class="custom-menu__container clearfix">
                <div class="container">
                  <div class="custom-menu__col col-md-3">
                    <div class="title__xs custom-menu__toggle"> Заголовок</div>
                    <ul>
                      <li><a href="/productList.html">Crank Baits</a></li>
                      <li><a href="/productList.html">Shad Rap</a></li>
                      <li><a href="/productList.html">Jerk Baits</a></li>
                      <li><a href="/productList.html">Jointed</a></li>
                      <li><a href="/productList.html">Modern</a></li>
                    </ul>
                  </div>
                  <div class="custom-menu__col col-md-3">
                    <div class="title__xs custom-menu__toggle"> Заголовок</div>
                    <ul>
                      <li><a href="/productList.html">Crank Baits</a></li>
                      <li><a href="/productList.html">Shad Rap</a></li>
                      <li><a href="/productList.html">Jerk Baits</a></li>
                      <li><a href="/productList.html">Jointed</a></li>
                      <li><a href="/productList.html">Modern</a></li>
                    </ul>
                  </div>
                  <div class="custom-menu__col col-md-3">
                    <div class="title__xs custom-menu__toggle"> Заголовок</div>
                    <ul>
                      <li><a href="/productList.html">Crank Baits</a></li>
                      <li><a href="/productList.html">Shad Rap</a></li>
                      <li><a href="/productList.html">Jerk Baits</a></li>
                      <li><a href="/productList.html">Jointed</a></li>
                      <li><a href="/productList.html">Modern</a></li>
                    </ul>
                  </div>
                  <div class="custom-menu__col col-md-3">
                    <div class="title__xs custom-menu__toggle"> Заголовок</div>
                    <ul>
                      <li><a href="/productList.html">Crank Baits</a></li>
                      <li><a href="/productList.html">Shad Rap</a></li>
                      <li><a href="/productList.html">Jerk Baits</a></li>
                      <li><a href="/productList.html">Jointed</a></li>
                      <li><a href="/productList.html">Modern</a></li>
                    </ul>
                  </div>
                  <div class="custom-menu__col col-md-3">
                    <div class="title__xs custom-menu__toggle"> Заголовок</div>
                    <ul>
                      <li><a href="/productList.html">Crank Baits</a></li>
                      <li><a href="/productList.html">Shad Rap</a></li>
                      <li><a href="/productList.html">Jerk Baits</a></li>
                      <li><a href="/productList.html">Jointed</a></li>
                      <li><a href="/productList.html">Modern</a></li>
                    </ul>
                  </div>
                  <div class="custom-menu__col col-md-3">
                    <div class="title__xs custom-menu__toggle"> Заголовок</div>
                    <ul>
                      <li><a href="/productList.html">Crank Baits</a></li>
                      <li><a href="/productList.html">Shad Rap</a></li>
                      <li><a href="/productList.html">Jerk Baits</a></li>
                      <li><a href="/productList.html">Jointed</a></li>
                      <li><a href="/productList.html">Modern</a></li>
                    </ul>
                  </div>
                  <div class="custom-menu__col col-md-3">
                    <div class="title__xs custom-menu__toggle"> Заголовок</div>
                    <ul>
                      <li><a href="/productList.html">Crank Baits</a></li>
                      <li><a href="/productList.html">Shad Rap</a></li>
                      <li><a href="/productList.html">Jerk Baits</a></li>
                      <li><a href="/productList.html">Jointed</a></li>
                      <li><a href="/productList.html">Modern</a></li>
                    </ul>
                  </div>
                  <div class="custom-menu__col col-md-3">
                    <div class="title__xs custom-menu__toggle"> Заголовок</div>
                    <ul>
                      <li><a href="/productList.html">Crank Baits</a></li>
                      <li><a href="/productList.html">Shad Rap</a></li>
                      <li><a href="/productList.html">Jerk Baits</a></li>
                      <li><a href="/productList.html">Jointed</a></li>
                      <li><a href="/productList.html">Modern</a></li>
                    </ul>
                  </div>
                  <div class="custom-menu__col col-md-3">
                    <div class="title__xs custom-menu__toggle"> Заголовок</div>
                    <ul>
                      <li><a href="/productList.html">Crank Baits</a></li>
                      <li><a href="/productList.html">Shad Rap</a></li>
                      <li><a href="/productList.html">Jerk Baits</a></li>
                      <li><a href="/productList.html">Jointed</a></li>
                      <li><a href="/productList.html">Modern</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="headerNav__item"><a href="#!" class="headerNav__link">Где купить<span class="caret">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="7">
                  <use xlink:href="#svg_arrow" class="caret__arrow"></use>
                </svg></span></a>
            <ul class="dropdown__menu">
              <li><a href="/location.html">item 1</a></li>
              <li><a href="/location.html">item 2</a></li>
              <li><a href="/location.html">item 3</a></li>
            </ul>
          </li>
          <li class="headerNav__item"><a href="#!" class="headerNav__link">Блог<span class="caret">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="7">
                  <use xlink:href="#svg_arrow" class="caret__arrow"></use>
                </svg></span></a>
            <ul class="dropdown__menu">
              <li><a href="/blog.html">item 1</a></li>
              <li><a href="/blog.html">item 2</a></li>
              <li><a href="/blog.html">item 3</a></li>
            </ul>
          </li>
          <li class="headerNav__item"><a href="#!" class="headerNav__link">Контакты   <span class="caret">      
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="7">
                  <use xlink:href="#svg_arrow" class="caret__arrow"></use>
                </svg></span></a>
            <ul class="dropdown__menu">
              <li><a href="/contact.html">item 1</a></li>
              <li><a href="/contact.html">item 2</a></li>
              <li><a href="/contact.html">item 3</a></li>
            </ul>
          </li>
        </ul>
        <button type="button" class="headerNav__toggle">&#9776;</button>
        <form action="http://alex.taran.ru/search" method="get" class="header__search">                   
          <button type="submit" class="header__search--btn btn icon-search">Submit</button>
          <div class="header__search--mobile">
            <div class="form-group form-group-noWrap">
              <input type="search" placeholder="Искать..." class="form-control js__search"/>
              <button type="submit" class="btnMain">да </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>