
<main class="mainContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title__lg">Попап логин</h1>
      </div>
      <div class="col-md-12">               
        <div style="display: none" class="popUP__wrapper js__popup">
          <div class="Modal__wrapper js__noPropagation">
            <button class="close__popup js__closePopup">×</button>
            <form action="" class="Modal__login--wrap">
              <div class="form-group">
                <label for="popUp__inp_name">Представьтесь</label>
                <input type="text" name="" id="popUp__inp_name"/>
              </div>
              <div class="form-group">
                <label for="popUp__inp_name">Телефон</label>
                <input type="text" name="" id="popUp__inp_name"/>
              </div>
              <div class="form-group">
                <button class="btnMain">Войти</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title__lg">Попап спасибо</h1>
      </div>
      <div class="col-md-12">               
        <div style="display: none" class="popUP__wrapper js__popup">
          <div class="Modal__wrapper js__noPropagation">
            <button class="close__popup js__closePopup">×</button>
            <div class="Modal">
              <div class="Modal__title">Спасибо!</div>
              <p class="Modal__text">Менеджер нашей компании свяжется с вами в течении 10 минут</p>
              <button class="btnMain js__closePopup">Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>