
<div class="container-fluid product__desc">
  <h4 class="title__xs text-center">Описание</h4>
  <div class="readmore-wrapper">
    <div class="tile col-md-6 col-xs-12 clearfix tile--double tile__wrapper ">
      <div class="tile_content"><a title="Jer-O Minnow" href="https://www.youtube.com/embed/-uzkjrEnI84" class="tile-video js__videoPopup">
          <div class="tile-video_image-wrapper"><img src="https://picsum.photos/300/300" class="tile-video_image"/></div>
          <div class="tile-video_control">
            <div class="tile-video_control-icon icon-youtube-play"></div>
            <div class="tile-video_control-text"></div>
          </div></a></div>
    </div>
    <div class="tile__text readmore-content">
      Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
      Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
      Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
      Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
      Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
      Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
      Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
      Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
      Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
      Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
    </div>
    <div class="readmore-button_wrapper readmore-button_wrapper--white">
      <button class="readmore-button item-more js-readmore_btn">ПОДРОБНЕЕ</button>
    </div>
  </div>
</div>