
<div class="header__slider">
  <ul class="slides">
    <li><img src="/image/Slider-img.jpg" alt=""/>
      <div class="carousel-caption">
        <div class="header__slider__title"> <span class="header__slider__title--green">STRIKE</span><span>PRO</span></div>
        <div class="header__slider__desc">
          One fish, two fish, thee fish,
          MORE fish!
          <button class="button-base">перейти в каталог</button>
        </div>
      </div>
    </li>
    <li><img src="/image/Slider-img.jpg" alt=""/>
      <div class="carousel-caption">
        <div class="header__slider__title"> <span class="header__slider__title--green">STRIKE</span><span>PRO</span></div>
        <div class="header__slider__desc">
          One fish, two fish, thee fish,
          MORE fish!
          <button class="button-base">перейти в каталог</button>
        </div>
      </div>
    </li>
    <li><img src="/image/Slider-img.jpg" alt=""/>
      <div class="carousel-caption">
        <div class="header__slider__title"> <span class="header__slider__title--green">STRIKE</span><span>PRO</span></div>
        <div class="header__slider__desc">
          One fish, two fish, thee fish,
          MORE fish!
          <button class="button-base">перейти в каталог</button>
        </div>
      </div>
    </li>
    <li><img src="/image/Slider-img.jpg" alt=""/>
      <div class="carousel-caption">
        <div class="header__slider__title"> <span class="header__slider__title--green">STRIKE</span><span>PRO</span></div>
        <div class="header__slider__desc">
          One fish, two fish, thee fish,
          MORE fish!
          <button class="button-base">перейти в каталог</button>
        </div>
      </div>
    </li>
  </ul><a href="#mainContent" class="movwDown"></a>
</div>