
<section class="clearfix">
  <ul>
    <li><a href="/productList.html">Challenger X</a></li>
    <li><a href="/productList.html">Crank Baits</a></li>
    <li><a href="/productList.html">Shad Rap</a></li>
    <li><a href="/productList.html">Jerk Baits</a></li>
    <li><a href="/productList.html">Jointed </a></li>
    <li><a href="/productList.html">Modern</a></li>
  </ul>
  <ul>
    <li><a href="/productList.html">Monster</a></li>
    <li><a href="/productList.html">Poppers</a></li>
    <li><a href="/productList.html">Rattlins</a></li>
    <li><a href="/productList.html">Salt Water</a></li>
    <li><a href="/productList.html">Classic Minnow</a></li>
    <li><a href="/productList.html">SwimBaits</a></li>
  </ul>
  <ul>
    <li><a href="/productList.html">Top Water</a></li>
    <li><a href="/productList.html">UltraLight</a></li>
    <li><a href="/productList.html">Strike Pro</a></li>
  </ul>
  <ul>
    <li class="tile__wrapper"><a href="/productList.html" class="tile product product__new"><img src="/image/productImg-3.png" alt=""/>
        <div class="product__text">Supersonic</div>
        <div class="product__marker"></div></a></li>
  </ul>
</section>