script.
    window.Location = {
        "Moscow": {
            "id": 1, // City ID
            "name": "Москва",
            "center": {
                "lat": 55.755826, // latitude (широта)
                "lng": 37.6173
            },
            "stores": [
                {
                    "id": 1, // Store
                    "lat": 55.679603, // latitude (широта)
                    "lng": 37.312771 // longitude (долгота)
                },
                {
                    "id": 2, // Store
                    "lat": 55.761849, // latitude (широта)
                    "lng": 37.6365888 // longitude (долгота)

                },
                {
                    "id": 3, // Store
                    "lat": 55.6800736, // latitude (широта)
                    "lng": 37.732702 // longitude (долгота)
                }
            ]
        },
        "Spb": {
            "id": 2, // City ID
            "name": "Санкт-Петербург",
            "center": {
                "lat": 59.9342802, // latitude (широта)
                "lng": 30.3350986
            },
            "stores": [
                {
                    "id": 1, // Store
                    "lat": 59.836173, // latitude (широта)
                    "lng": 30.3676546 // longitude (долгота)
                },
                {
                    "id": 2, // Store
                    "lat": 59.9860228, // latitude (широта)
                    "lng": 30.3213429 // longitude (долгота)
                }
            ]
        },
        "Novosibirsk": {
            "id": 3, // City ID
            "name": "Новосибирск",
            "center": {
                "lat": 55.0083526, // latitude (широта)
                "lng": 82.9357327
            },
            "stores": [
                {
                    "id": 1, // Store
                    "lat": 55.045832, // latitude (широта)
                    "lng": 82.930247 // longitude (долгота)

                },
                {
                    "id": 2, // Store
                    "lat": 54.9494949, // latitude (широта)
                    "lng": 82.8374367 // longitude (долгота)
                }
            ]
        },
        "Kazan": {
            "id": 4, // City ID
            "name": "Казань",
            "center": {
                "lat": 55.8304307, // latitude (широта)
                "lng": 49.0660806
            },
            "stores": [
                {
                    "id": 1, // Store
                    "lat": 55.8362801, // latitude (широта)
                    "lng": 49.1121332 // longitude (долгота)
                },
                {
                    "id": 2, // Store
                    "lat": 55.8435833, // latitude (широта)
                    "lng": 49.094269 // longitude (долгота)
                }
            ]
        },
        "Samara": {
            "id": 5, // City ID
            "name": "Самара",
            "center": {
                "lat": 53.2415041, // latitude (широта)
                "lng": 50.2212463
            },
            "stores": [
                {
                    "id": 1, // Store
                    "lat": 53.240493, // latitude (широта)
                    "lng": 50.235174 // longitude (долгота)
                },
                {
                    "id": 2, // Store
                    "lat": 53.2420649, // latitude (широта)
                    "lng": 50.239387 // longitude (долгота)
                }
            ]
        }
    }


