main.page__aboutCompany
    include breadcrumb   
    .container
        .title__xs Выберите город
        include nav-tabs
    .location__wrapper
        .tab-content
            include tabs-1
            include tabs-2
            include tabs-3
            include tabs-4
            include tabs-5