ul.nav.nav-tabs.location__tabs
    li.active
        a(href='#Moscow' data-tabID="1") Москва
    li
        a(href='#Spb' data-tabID="2") Санкт-Петербург
    li
        a(href='#Novosibirsk' data-tabID="3") Новосибирск	
    li
        a(href='#Kazan' data-tabID="4") Казань	
    li
        a(href='#Samara' data-tabID="5") Самара	
    

//-onclick="codeAddress(Location.Moscow.stores)"
//-onclick="codeAddress(Location.Spb.stores)"