ul.nav.nav-tabs
    li.active
        a(href='#moscow' data-toggle='tab') Москва
    li
        a(href='#spb' data-toggle='tab') Санкт-Петербург
    li
        a(href='#newsib' data-toggle='tab') Новосибирск	
    li
        a(href='#kazan' data-toggle='tab') Казань	
    li
        a(href='#samara' data-toggle='tab') Самара	