div(class="tab-pane fade" id="samara")
    .location__right
        ul.location__list
            li.location__item
                .location__title 
                    span.location__title-num 1
                    span.title__xs Избушка рыбака
                p.location__text Россия, Москва
                    | пр. Луначарского, д.15, корп. 1
                    | +7 (499) 491-11-01
                a(href="#!") www.fishers-house.ru
            li.location__item
                .location__title 
                    span.location__title-num 2
                    span.title__xs Рыбачок
                p.location__text Россия, Москва
                    | Химический пер., 12
                    | +7 (499) 424-35-25
                a(href="#!") www.lovisnami.ru
            li.location__item
                .location__title 
                    span.location__title-num 3
                    span.title__xs Мечта Рыболова
                p.location__text Россия, Москва
                    | Кузнечный пер., 19/21
                    | +7 (499) 764-49-15              
            li.location__item
                .location__title 
                    span.location__title-num 4
                    span.title__xs Рыболовный центр
                p.location__text Россия, Москва
                    | Химический пер., 12
                    | +7 (499) 424-35-25
                a(href="#!") www.lovisnami.ru
            li.location__item
                .location__title 
                    span.location__title-num 5
                    span.title__xs Избушка рыбака
                p.location__text Россия, Москва
                    | пр. Луначарского, д.15, корп. 1
                    | +7 (499) 491-11-01
                a(href="#!") www.fishers-house.ru
    .location__left