footer.footer
    .container-fluid
        .row.footer__top
            .col-lg-3.col-sm-6
                .footer__colTitle о компании
                ul.footer__menuList
                    li.footer__menuItem
                        a(href="#!").footer__menuLink История бренда
                    li.footer__menuItem
                        a(href="#!").footer__menuLink Дружба с магазинами 
                    li.footer__menuItem
                        a(href="#!").footer__menuLink Галерея 
                    li.footer__menuItem
                        a(href="#!").footer__menuLink Партнеры 
            .col-lg-3.col-sm-6
                .footer__colTitle каталог продукции
                ul.footer__menuList
                    li.footer__menuItem
                        a(href="#!").footer__menuLink Балансиры STRIKE PRO
                    li.footer__menuItem
                        a(href="#!").footer__menuLink Блесны STRIKE PRO
                    li.footer__menuItem
                        a(href="#!").footer__menuLink Воблеры SKAGIT DESIGNS
                    li.footer__menuItem
                        a(href="#!").footer__menuLink Воблеры STRIKE PRO
                    li.footer__menuItem
                        a(href="#!").footer__menuLink Где купить?
            .col-lg-3.col-sm-6
                .footer__colTitle Медиа
                ul.footer__menuList
                    li.footer__menuItem
                        a(href="#!").footer__menuLink Блог
                    li.footer__menuItem
                        a(href="#!").footer__menuLink СМИ о нас
                    li.footer__menuItem
                        a(href="#!").footer__menuLink Выставки и соревнования                  
            .col-lg-3.col-sm-6
                .footer__colTitle стань подписчиком      
                form.form-inline
                    div.form-group.form-group-noWrap
                        input( type="email" class="form-control" placeholder="адрес электронной почты")
                        button.btnMain( type="submit") да                
                ul.footer__socialList
                    li.footer__socialItem
                        a(href="#!").footer__socialLink.icon-facebook Facebook
                    li.footer__socialItem
                        a(href="#!").footer__socialLink.icon-rocket Дружба с магазинами 
                    li.footer__socialItem
                        a(href="#!").footer__socialLink.icon-youtube-play youtube
                    li.footer__socialItem
                        a(href="#!").footer__socialLink.icon-vk vk
                    li.footer__socialItem
                        a(href="#!").footer__socialLink.icon-instagram instagram
        .row.footer__bottom
            .col-xs-12
                p.copyright
                    | STRIKE PRO Россия, Все права защищены