footer.footer
    .container-fluid
        .row
            .col-lg-3.col-sm-6
                .footer__colTitle о компании
                ul.footer__menuList
                    li.footer__menuItem
                        a.footer__menuLink История бренда
                    li.footer__menuItem
                        a.footer__menuLink Дружба с магазинами 
                    li.footer__menuItem
                        a.footer__menuLink Галерея 
                    li.footer__menuItem
                        a.footer__menuLink Партнеры 
            .col-lg-3.col-sm-6
                .footer__colTitle каталог продукции
                ul.footer__menuList
                    li.footer__menuItem
                        a.footer__menuLink Балансиры STRIKE PRO
                    li.footer__menuItem
                        a.footer__menuLink Блесны STRIKE PRO
                    li.footer__menuItem
                        a.footer__menuLink Воблеры SKAGIT DESIGNS
                    li.footer__menuItem
                        a.footer__menuLink Воблеры STRIKE PRO
                    li.footer__menuItem
                        a.footer__menuLink Где купить?
            .col-lg-3.col-sm-6
                .footer__colTitle Медиа
                ul.footer__menuList
                    li.footer__menuItem
                        a.footer__menuLink Блог
                    li.footer__menuItem
                        a.footer__menuLink СМИ о нас
                    li.footer__menuItem
                        a.footer__menuLink Выставки и соревнования                  
            .col-lg-3.col-sm-6
                .footer__colTitle стань подписчиком      
                form.form-inline
                    div.form-group
                        input( type="email" class="form-control" placeholder="адрес электронной почты")
                    button( type="submit" class="btn btn-default") да                
                ul.footer__socialList
                    li.footer__socialItem
                        a.footer__socialLink Facebook
                    li.footer__socialItem
                        a.footer__socialLink Дружба с магазинами 
                    li.footer__socialItem
                        a.footer__socialLink youtube
                    li.footer__socialItem
                        a.footer__socialLink vk
                    li.footer__socialItem
                        a.footer__socialLink instagram
        .row
            .col-xs-12
                p.center
                    | STRIKE PRO Россия, Все права защищены