svg(style="display: none")
    symbol#svg_arrow
        polyline( points="0,0 7,7 15,0" fill="rgba(249,249,249, 0)" stroke-width="2")   

.header__top
    nav
        .container-fluid
            .row
                .header__logo                
                    a(href='#') Brand
                        img(src="/image/logo.png", alt="")            
                ul.headerNav__list
                    li.headerNav__item
                        a.headerNav__link.dropdown__toogle(href='#!') О компании	
                            span.caret
                                svg
                                    use.caret__arrow(xlink:href="#svg_arrow")   
                        ul.dropdown__menu
                            li
                                a(href='/aboutCompany.html') История бренда
                            li
                                a(href='/aboutCompany.html') Производство
                            li
                                a(href='/aboutCompany.html') STRIKEPRO TEAM
                            li
                                a(href='/aboutCompany.html') Сертификаты
                            li
                                a(href='/aboutCompany.html') Работа у нас
                    li.headerNav__item
                        a.headerNav__link(href='#') Каталог
                            span.caret
                                svg
                                    use.caret__arrow(xlink:href="#svg_arrow")  
                        ul.dropdown__menu#catalog__tabs
                            li.container-tab
                                ul.accordion-tabs
                                    li.tab-head-cont
                                        a(href='#!') Воблеры 
                                        include tabs1
                                    li.tab-head-cont
                                        a(href='#!') Аксессуары
                                        include tabs2
                                    li.tab-head-cont
                                        a(href='#!') Балансиры
                                        include tabs3
                                    li.tab-head-cont
                                        a(href='#!') Блесны
                                        include tabs4                        
                    li.headerNav__item
                        a.headerNav__link(href='#!') Где купить
                            span.caret
                                svg(xmlns="http://www.w3.org/2000/svg" width="15" height="7"  )
                                    use.caret__arrow(xlink:href="#svg_arrow")
                        ul.dropdown__menu
                            li
                                a(href='/location.html') item 1
                            li
                                a(href='/location.html') item 2
                            li
                                a(href='/location.html') item 3
                    li.headerNav__item
                        a.headerNav__link(href='#!') Блог
                            span.caret
                                svg(xmlns="http://www.w3.org/2000/svg" width="15" height="7"  )
                                    use.caret__arrow(xlink:href="#svg_arrow")
                                    
                        ul.dropdown__menu
                            li
                                a(href='/blog.html') item 1
                            li
                                a(href='/blog.html') item 2
                            li
                                a(href='/blog.html') item 3
                    li.headerNav__item
                        a.headerNav__link(href='#!') Контакты   
                            span.caret       
                                svg(xmlns="http://www.w3.org/2000/svg" width="15" height="7"  )
                                    use.caret__arrow(xlink:href="#svg_arrow")
                        ul.dropdown__menu
                            li
                                a(href='/contact.html') item 1
                            li
                                a(href='/contact.html') item 2
                            li
                                a(href='/contact.html') item 3
                button.headerNav__toggle(type='button') &#9776;
                form.header__search
                    // удолить это
                    //.form-group
                    //    input.form-control(type='search', placeholder='Search')
                    button.header__search--btn.btn.icon-search(type='submit') Submit
                    .header__search--mobile
                        div.form-group.form-group-noWrap
                            input( type="search" class="form-control js__search" placeholder="Искать...")
                            button.btnMain( type="submit") да 
                