meta(charset='utf-8')         
meta(http-equiv='X-UA-Compatible', content='IE=edge')         
meta(name='viewport', content='width=device-width, initial-scale=1')
title Fish
link(href='css/bootstrap.min.css', rel='stylesheet')
link(href='css/jquery-ui.min.css', rel='stylesheet')
link(href='css/flexslider.css', rel='stylesheet')
link(href='css/styles.min.css', rel='stylesheet')
link(href='css/glide.core.css', rel='stylesheet')
link(href='css/glide.theme.css', rel='stylesheet')
script(type="text/javascript" src="js/glide.js")
script(type="text/javascript" src="//vk.com/js/api/openapi.js?144")
script(type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")


//if lt IE 9
  script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
  |       
  script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

