include ../uikit/tile/tile-video

.container-fluid.product__desc
    h4.title__xs.text-center Описание
    .readmore-wrapper
        +tileVideo('col-md-6 col-xs-12 clearfix tile--double tile__wrapper ')
        .tile__text.readmore-content
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
        .readmore-button_wrapper.readmore-button_wrapper--white
            button.readmore-button.item-more.js-readmore_btn
                | ПОДРОБНЕЕ