.container-fluid.product__desc
    h4.title__xs.text-center Описание
    .readmore.js-readmore.readmore_close
        .tile__wrapper.tile__wrapper--big.col-md-6.clearfix
            a(href="https://www.youtube.com/embed/-uzkjrEnI84").tile.js__videoPopup
                img(src="http://via.placeholder.com/640x480", alt="")
                .video__control
                    .video__control--icon.icon-youtube-play
                    .video__control--text посмотреть видео
        .tile__text
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
            | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
        //.readmore_btn-wrap(style="width: 100%")
        //    btn.readmore_btn.js-readmore_btn.item-more Подробнее