script.
    window.ajax_url = {
        ajaxSubmitSunscribeUrl: 'http://strike-pro.loc/subscribe',
        autocompleteServerUrl: "http://alex.taran.ru/search/auto_complete"
    }

    window.yandexMap_config = {
        iconImageHref: 'image/marker_YMAP.png',
        iconImageHoverHref: 'image/marker_YMAP-hover.png',
        iconImageSize: [36, 43],
        iconImageOffset: [-10, -10]
    }



script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.flexslider-min.js')
script(src='js/jquery.nicescroll.min.js')
script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js')

script(src='js/index.js')
