.header__slider
    ul.slides
        li
            img(src="/image/Slider-img.jpg", alt="")
            div(class="carousel-caption")
                .header__slider__title 
                    span.header__slider__title--green STRIKE
                    span PRO
                .header__slider__desc
                    | One fish, two fish, thee fish,
                    | MORE fish!
                    button.btnMain перейти в каталог
        li
            img(src="/image/Slider-img.jpg", alt="")
            div(class="carousel-caption")
                .header__slider__title 
                    span.header__slider__title--green STRIKE
                    span PRO
                .header__slider__desc
                    | One fish, two fish, thee fish,
                    | MORE fish!
                    button.btnMain перейти в каталог
        li
            img(src="/image/Slider-img.jpg", alt="")
            div(class="carousel-caption")
                .header__slider__title 
                    span.header__slider__title--green STRIKE
                    span PRO
                .header__slider__desc
                    | One fish, two fish, thee fish,
                    | MORE fish!
                    button.btnMain перейти в каталог
        li
            img(src="/image/Slider-img.jpg", alt="")
            div(class="carousel-caption")
                .header__slider__title 
                    span.header__slider__title--green STRIKE
                    span PRO
                .header__slider__desc
                    | One fish, two fish, thee fish,
                    | MORE fish!
                    button.btnMain перейти в каталог