section(class="clearfix")
    ul
        li
            a(href="#!") Challenger X
        li
            a(href="#!") Crank Baits
        li
            a(href="#!") Shad Rap
        li
            a(href="#!") Jerk Baits
        li
            a(href="#!") Jointed 
        li
            a(href="#!") Modern
    ul
        li
            a(href="#!") Challenger X
        li
            a(href="#!") Crank Baits
        li
            a(href="#!") Shad Rap
        li
            a(href="#!") Jerk Baits
        li
            a(href="#!") Jointed
        li
            a(href="#!") Modern
    ul
        li
            a(href="#!") Challenger X
        li
            a(href="#!") Crank Baits
        li
            a(href="#!") Shad Rap
        li
            a(href="#!") Jerk Baits
        li
            a(href="#!") Jointed
        li
            a(href="#!") Modern
    ul
        li
            a(href="#!") Monster
        li
            a(href="#!") Poppers
        li
            a(href="#!") Rattlins
        li
            a(href="#!") Salt Water
        li
            a(href="#!") Classic Minnow
        li
            a(href="#!") SwimBaits
    ul
        li
            a(href="#!") Top Water
        li
            a(href="#!") UltraLight
        li
            a(href="#!") Strike Pro