
ul
   li
       a(href="/productList.html") Crank Baits
   li
       a(href="/productList.html") Shad Rap
   li
       a(href="/productList.html") Jerk Baits
   li
       a(href="/productList.html") Jointed
   li
       a(href="/productList.html") Modern

            