section(class="clearfix")
    ul
        li
            a(href="/productList.html") Challenger X
        li
            a(href="/productList.html") Crank Baits
        li
            a(href="/productList.html") Shad Rap
        li
            a(href="/productList.html") Jerk Baits
        li
            a(href="/productList.html") Jointed 
        li
            a(href="/productList.html") Modern
    ul
        li
            a(href="/productList.html") Monster
        li
            a(href="/productList.html") Poppers
        li
            a(href="/productList.html") Rattlins
        li
            a(href="/productList.html") Salt Water
        li
            a(href="/productList.html") Classic Minnow
        li
            a(href="/productList.html") SwimBaits
    ul
        li
            a(href="/productList.html") Top Water
        li
            a(href="/productList.html") UltraLight
        li
            a(href="/productList.html") Strike Pro
    ul
        li.tile__wrapper
            a(href="/productList.html").tile.product.product__new
                img(src="/image/productImg-3.png", alt="")
                .product__text Supersonic
                .product__marker
            