section(class="clearfix")
    ul
        li
            a(href="#!") Challenger X
        li
            a(href="#!") Crank Baits
        li
            a(href="#!") Shad Rap       
    ul
        li
            a(href="#!") Monster
        li
            a(href="#!") Poppers
        li
            a(href="#!") Rattlins        
    ul
        li
            a(href="#!") Top Water
        li
            a(href="#!") UltraLight        