main.page__blogArticl
    include breadcrumb   
    article.blog__articl
        .container
            .row
                .col-xs-12
                    .tile__data 27 АВГ
                    .title__md Женский турнир по ловле на поплавок прошел в Воронеже            
                .col-xs-12
                    p Областной женский турнир по рыбной ловле прошёл в минувшие выходные в Хохольском районе Воронежской области. Мероприятие проводится уже второй год, на этот раз за кубок сразилось 30 представительниц прекрасного пола, приехавших в село Семидесятное, где организуется состязание, из Воронежа и разных населённых пунктов области.
        .container-fluid
            .row
                .tile__wrapper.col-md-6.col-md-offset-3
                    .tile
                        img(src="/image/itemvideo-img1.jpg", alt="")
                        .video__control
                            .video__control--icon.icon-youtube-play
                            .video__control--text посмотреть видео
        .container
            .row
                .col-xs-12
                    p В соответствии с условиями турнира, женщины использовали поплавочную удочку. По результатам рыбалки подводились итоги в командном и личном зачётах. Первое место заняла жительница областной столицы Инна Ярославцева, наловившая 2 кг 660 г плотвы. Немного меньше рыбы – 2 кг 100 граммов поймала Алла Хахалин, занявшая вторе место. Третье место заслужила Наталия Сухорукова. В командном зачёте лучшей стала сборная «MinnoWomaN».   
        .container
            .row
                .col-xs-12
                    .socialBtn__wrap
                        #vk_like.socialBtn__wrap--vk
                    .socialBtn__wrap
                        #ok_shareWidget.socialBtn__wrap--ok
    .container-fluid
        .row
            .tile__wrapper.col-2_4.col-md-3.col-xs-4
                a(href="#!").tile.gallery                   
                    img(src="/image/itemGallery-img2.jpg", alt="")
                    .gallery__text
                        span.icon-instagram 
                        span 19 фотографий
            .tile__wrapper.col-2_4.col-md-3.col-xs-4
                .tile.news
                    .tile__data 1 CЕН
                    .title__xs Международный фестиваль рыбной ловли «Ладожские шхеры 2015»
                    a(href="#").btnMain Перейти
            .tile__wrapper.col-2_4.col-md-3.col-xs-4
                a(href="#!").tile.gallery                   
                    img(src="/image/itemGallery-img2.jpg", alt="")
                    .gallery__text
                        span.icon-instagram 
                        span 19 фотографий
            .tile__wrapper.col-2_4.col-md-3.col-xs-4
                .tile.news
                    .tile__data 1 CЕН
                    .title__xs Международный фестиваль рыбной ловли «Ладожские шхеры 2015»
                    a(href="#").btnMain Перейти
    script
        | VK.init({
        | apiId: 5978511, // ID получить тут https://vk.com/dev/Like
        | onlyWidgets: true
        | });
        | VK.Widgets.Like("vk_like", {
        | type: "button", // формат кнопки
        | height: 30
        | });
        | !function (d, id, did, st, title, description, image) {
        | var js = d.createElement("script");
        | js.src = "https://connect.ok.ru/connect.js";
        | js.onload = js.onreadystatechange = function () {
        | if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
        | if (!this.executed) {
        | this.executed = true;
        | setTimeout(function () {
        | OK.CONNECT.insertShareWidget(id,did,st, title, description, image);
        | }, 0);
        | }
        | }};
        | d.documentElement.appendChild(js);
        | }(document,"ok_shareWidget","http://alex.taran.ru",'{"sz":30,"st":"rounded","ck":1}',"","","");