.header-page__wrap
    ol.breadcrumb
        li
            a(href="#!") Каталог
        li
            a(href="#!") Блог
        li.active
            a(href="#!") Женский турнир по ловле на поплавок прошел в Воронеже