.footer {
    margin-top: -268px;
    padding: 30px 3%;
    background-color: $color2;
    color: #fff;
    @media(min-width: 768px) {
        padding: 30px 10%;
        margin-top: -289px;
    }
    @media(min-width: 1400px) {
        margin-top: -307px;
    }
    @media(min-width: 992px) {
        .col-sm-pull-6 {
            right: 0%;
        }
        .col-sm-push-6 {
            left: 0%
        }
    }
    &__top {
        padding-bottom: 30px;
    }
    input {
        border-radius: 0;
        border: 1px solid #989898;
        color: #000000;
        font-size: 0.895rem;
        position: relative;
        height: 41px;
        vertical-align: middle;
        display: inline-block;
        width: calc(100% - 56px);
        @media(min-width: 768px) {
            width: auto;
        }
    }
    .form-group-noWrap {
        white-space: nowrap;
        .btnMain {
            left: -11px;
            &:active {
                top: 0;
            }
            &:hover {
                &:after {
                    background-color: lighten($color3, 10%) !important;
                }
            }
        }
    }
    &__colTitle {
        font-size: 1rem;
        line-height: 27px;
        font-family: "OpenSans-Italic";
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__menuItem {
        //margin-bottom: 10px;
    }
    &__menuLink {
        color: #fff;
        font-size: 0.8rem;
        line-height: 1rem;
        &:hover {
            color: $color3;
        }
    }
    &__socialList {
        margin-top: 35px;
        white-space: nowrap;
    }
    &__socialItem {
        display: inline-block;
        margin-right: 17px;
    }
    &__socialLink {
        display: block;
        width: 37px;
        height: 37px;
        background-color: $color3;
        font-size: 0;
        text-align: center;
        cursor: pointer;
        &:before {
            font-size: 24px;
            line-height: 37px;
            color: #fff;
        }
        &:hover {
            text-decoration: none;
            background-color: lighten($color3, 10%) !important;
        }
    }
    .copyright {
        text-align: center;
    }
}
.form-inline .form-group {
    position: relative;
    label.error {
        position: absolute;
        left: 0;
        top: 40px;
        font-size: 14px;
        color: #FF0000;
        font-weight: normal;
    }
}
.contact-form {
    label.error {
        position: absolute;
        left: 15px;
        bottom: -30px;
        font-size: 14px;
        color: #FF0000;
        font-weight: normal;
        margin: 0;
    }
}

.footer__col{
    float: left;
    display: none!important;
    &:last-child{
        display: none!important;
    }
    &:first-child{
        display: none!important;
    }
    @media(min-width: 768px){
        &:first-child + *{
            width: 100%;
            display: block!important;
        }
    }
    @media(min-width: 992px){

        &:first-child{
            width: 45%;
            display: block!important;
        }
        &:first-child + *{
            width: 55%;
            display: block!important;
        }
    }
    @media(min-width: 1200px){
        width: 33%;
        &:last-child{
            display: block!important;
        }
        &:first-child{
            width: 33%;
            display: block!important;
        }
        &:first-child + *{
            width: 33%;
            display: block!important;
        }
    }

}